Repository astronomer/astronomer-providers: changes, and which pre-commit hooks are due for each by the changed paths.
All: sync-all-extras-setup.cfg, sync-version-setup.cfg-docs-conf, sync-version-desc-setup.cfg-package, changelog-update, list-extras-readme

sync-all-extras-setup.cfg:
  name: Sync "all" extra in setup.cfg
  language: python
  pass_filenames: false
  entry: .circleci/scripts/pre_commit_setup_cfg_all_extra.py

sync-version-setup.cfg-docs-conf:
  name: Sync "version" of the package in setup.cfg and docs/conf.py
  language: python
  pass_filenames: false
  entry: .circleci/scripts/pre_commit_sync_version_docs.py

sync-version-desc-setup.cfg-package:
  name: Sync "version" & "description" of the package in setup.cfg and astronomer/providers/package.py
  language: python
  pass_filenames: false
  entry: .circleci/scripts/pre_commit_sync_version_desc_package.py

changelog-update:
  name: Verify changelog is updated when releasing a new version
  language: python
  pass_filenames: false
  entry: .circleci/scripts/pre_commit_changelog_upto_date.py
  additional_dependencies:
  - packaging

list-extras-readme:
  name: List all the extras in README.rst
  language: python
  pass_filenames: false
  entry: .circleci/scripts/pre_commit_readme_extra.py

Support Python 3.13 and 3.14 on Airflow 3
  .circleci/config.yml
  CHANGELOG.rst
  setup.cfg
Due: sync-all-extras-setup.cfg, sync-version-setup.cfg-docs-conf, sync-version-desc-setup.cfg-package, changelog-update, list-extras-readme

Drop the sasl apt step from CI and Read the Docs
  .circleci/config.yml
  .readthedocs.yaml
Due: none

Remove S3 and GCS XCom backends (#1608)
  CHANGELOG.rst
  CONTRIBUTING.rst
  README.rst
  astronomer/providers/amazon/aws/xcom_backends/__init__.py
  astronomer/providers/amazon/aws/xcom_backends/s3.py
  astronomer/providers/google/cloud/xcom_backends/__init__.py
  astronomer/providers/google/cloud/xcom_backends/gcs.py
  dev/docker-compose.yaml
  setup.cfg
  tests/amazon/aws/xcom_backends/__init__.py
  tests/amazon/aws/xcom_backends/test_s3.py
  tests/google/__init__.py
  tests/google/cloud/__init__.py
  tests/google/cloud/xcom_backends/__init__.py
  tests/google/cloud/xcom_backends/test_gcs.py
Due: sync-all-extras-setup.cfg, sync-version-setup.cfg-docs-conf, sync-version-desc-setup.cfg-package, changelog-update, list-extras-readme

Fix CI dependency resolution and drop Python 3.8 and 3.9 (#1605)
  .circleci/Dockerfile
  .circleci/config.yml
  .github/workflows/runtime-image-update.yaml
  .readthedocs.yaml
  astronomer/providers/amazon/aws/hooks/base_aws.py
  pyproject.toml
  setup.cfg
  tests/amazon/aws/operators/test_batch.py
  tests/conftest.py
Due: sync-all-extras-setup.cfg, sync-version-setup.cfg-docs-conf, sync-version-desc-setup.cfg-package, changelog-update, list-extras-readme

Drop `typing_compat` (#1609)
  .circleci/scripts/pre_commit_context_typing_compat.py
  .pre-commit-config.yaml
  CHANGELOG.rst
  astronomer/providers/amazon/aws/hooks/redshift_data.py
  astronomer/providers/amazon/aws/operators/redshift_sql.py
  astronomer/providers/apache/hive/sensors/hive_partition.py
  astronomer/providers/apache/hive/sensors/named_hive_partition.py
  astronomer/providers/core/sensors/astro.py
  astronomer/providers/core/sensors/external_task.py
  astronomer/providers/snowflake/sensors/snowflake.py
  astronomer/providers/utils/sensor_util.py
  astronomer/providers/utils/typing_compat.py
  tests/utils/test_typing_compat.py
Due: changelog-update

Trim integration tests to the remaining example DAGs (#1610)
  .circleci/integration-tests/Dockerfile.astro_cloud
  .circleci/integration-tests/master_dag.py
  .circleci/integration-tests/nuke-config.yml
  .circleci/integration-tests/script.sh
  .github/scripts/refactor_dag.py
  .github/workflows/reuse-wf-deploy-to-astro-cloud.yaml
  Makefile
  astronomer/providers/amazon/aws/example_dags/example_aws_nuke.py
  astronomer/providers/amazon/aws/example_dags/example_delete_stale_emr_iam_roles.sh
  astronomer/providers/amazon/aws/example_dags/example_delete_stale_emr_vpcs.sh
  astronomer/providers/google/__init__.py
  astronomer/providers/google/cloud/__init__.py
  astronomer/providers/google/cloud/example_dags/__init__.py
  astronomer/providers/google/cloud/example_dags/example_gcp_nuke.py
  dev/Dockerfile.aws
  dev/Dockerfile.emr_eks_container
  dev/Dockerfile.google_cloud
  dev/local_flask_lineage_server.py
Due: none

Run unit tests against Airflow 3.3 (#1612)
  .circleci/config.yml
  setup.cfg
  tests/conftest.py
  tests/core/hooks/test_astro.py
  tests/utils/airflow_util.py
Due: sync-all-extras-setup.cfg, sync-version-setup.cfg-docs-conf, sync-version-desc-setup.cfg-package, changelog-update, list-extras-readme

Import moved Airflow classes from airflow.sdk on Airflow 3 (#1613)
  CHANGELOG.rst
  astronomer/providers/amazon/aws/hooks/redshift_data.py
  astronomer/providers/amazon/aws/operators/redshift_sql.py
  astronomer/providers/apache/hive/hooks/hive.py
  astronomer/providers/apache/hive/sensors/hive_partition.py
  astronomer/providers/apache/hive/sensors/named_hive_partition.py
  astronomer/providers/core/hooks/astro.py
  astronomer/providers/core/sensors/astro.py
  astronomer/providers/core/sensors/external_task.py
  astronomer/providers/core/triggers/external_task.py
  astronomer/providers/snowflake/sensors/snowflake.py
  astronomer/providers/utils/compat.py
  astronomer/providers/utils/sensor_util.py
Due: changelog-update

Support Airflow 3 deployments in AstroHook (#1614)
  CHANGELOG.rst
  astronomer/providers/core/hooks/astro.py
  tests/core/hooks/test_astro.py
Due: changelog-update

Support Python 3.13 and 3.14 on Airflow 3 (#1615)
  .circleci/config.yml
  CHANGELOG.rst
  setup.cfg
Due: sync-all-extras-setup.cfg, sync-version-setup.cfg-docs-conf, sync-version-desc-setup.cfg-package, changelog-update, list-extras-readme

Drop the sasl apt step from CI and Read the Docs (#1616)
  .circleci/config.yml
  .readthedocs.yaml
Due: none

Use async HttpAsyncHook in ExternalDeploymentTaskTrigger
  astronomer/providers/core/triggers/external_task.py
  tests/core/triggers/test_external_task.py
Due: none

Path conditions:
  sync-all-extras-setup.cfg: any of: ^setup.cfg$
  sync-version-setup.cfg-docs-conf: any of: ^setup.cfg$|^docs/conf.py$
  sync-version-desc-setup.cfg-package: any of: ^setup.cfg$|^astronomer/providers/package.py$
  changelog-update: any of: ^setup.cfg$|^CHANGELOG.rst$
  list-extras-readme: any of: ^setup.cfg$|^README.rst$
