Repository astronomer/astronomer-providers: changes, and which pre-commit hooks are due for each by the changed paths.
All: sync-all-extras-setup.cfg, sync-version-setup.cfg-docs-conf, sync-version-desc-setup.cfg-package, changelog-update, list-extras-readme

Path conditions:
  sync-all-extras-setup.cfg: any of: ^setup.cfg$
  sync-version-setup.cfg-docs-conf: any of: ^setup.cfg$|^docs/conf.py$
  sync-version-desc-setup.cfg-package: any of: ^setup.cfg$|^astronomer/providers/package.py$
  changelog-update: any of: ^setup.cfg$|^CHANGELOG.rst$
  list-extras-readme: any of: ^setup.cfg$|^README.rst$

Updating setup.cfg with RC provider packages on https://github.com/apache/airflow/issues/42882
  setup.cfg
Due: sync-all-extras-setup.cfg, sync-version-setup.cfg-docs-conf, sync-version-desc-setup.cfg-package, changelog-update, list-extras-readme

fixing provider system test path
  .github/workflows/reuse-wf-deploy-to-astro-cloud.yaml
Due: none

fixing provider system test path (#1586)
  .github/workflows/reuse-wf-deploy-to-astro-cloud.yaml
Due: none

bump-hive-version
  .circleci/integration-tests/Dockerfile.astro_cloud
Due: none

bump-hive-version (#1588)
  .circleci/integration-tests/Dockerfile.astro_cloud
Due: none

replacing deprecating provider with overrides with container_overrides
  astronomer/providers/amazon/aws/example_dags/example_batch.py
Due: none

replacing deprecating provider with overrides with container_overrides (#1590)
  astronomer/providers/amazon/aws/example_dags/example_batch.py
Due: none

Update runtime image tag to 12.2.0-slim-base
  .circleci/integration-tests/Dockerfile.astro_cloud
  Makefile
Due: none

Update runtime image tag to 12.3.0-ubi9-python-3.12-slim-base
  .circleci/integration-tests/Dockerfile.astro_cloud
  Makefile
Due: none

Update runtime image tag to 12.4.0-ubi9-python-3.12-slim-base
  .circleci/integration-tests/Dockerfile.astro_cloud
  Makefile
Due: none

Update runtime image tag to 12.5.0-ubi9-python-3.12-slim-base
  .circleci/integration-tests/Dockerfile.astro_cloud
  Makefile
Due: none

Update runtime image tag to 12.6.0-ubi9-python-3.12-slim-base
  .circleci/integration-tests/Dockerfile.astro_cloud
  Makefile
Due: none

Update runtime image tag to 12.7.0-ubi9-python-3.12-slim-base
  .circleci/integration-tests/Dockerfile.astro_cloud
  Makefile
Due: none

Update runtime image tag to 12.7.1-ubi9-python-3.12-slim-base
  .circleci/integration-tests/Dockerfile.astro_cloud
  Makefile
Due: none

Upgrade GitHub Actions Ubuntu version
  .github/workflows/reuse-wf-check-rc-release.yaml
  .github/workflows/reuse-wf-deploy-to-astro-cloud.yaml
  .github/workflows/reuse-wf-trigger-dag.yaml
  .github/workflows/runtime-image-update.yaml
Due: none

Upgrade GitHub Actions Ubuntu version (#1598)
  .github/workflows/reuse-wf-check-rc-release.yaml
  .github/workflows/reuse-wf-deploy-to-astro-cloud.yaml
  .github/workflows/reuse-wf-trigger-dag.yaml
  .github/workflows/runtime-image-update.yaml
Due: none

Update runtime image tag to 12.8.0-ubi9-python-3.12-slim-base
  .circleci/integration-tests/Dockerfile.astro_cloud
  Makefile
Due: none

Update runtime image tag to 12.9.0-ubi9-python-3.12-slim-base
  .circleci/integration-tests/Dockerfile.astro_cloud
  Makefile
Due: none

Update runtime image tag to 13.0.0-ubi9-python-3.12-slim-base
  .circleci/integration-tests/Dockerfile.astro_cloud
  Makefile
Due: none

Update runtime image tag to 13.1.0-ubi9-python-3.12-slim-base
  .circleci/integration-tests/Dockerfile.astro_cloud
  Makefile
Due: none

Revert "Fix ExternalDeploymentTaskSensorAsync for making simple http requests instead of aiohttp (#1306)"
  astronomer/providers/core/triggers/external_task.py
  tests/core/triggers/test_external_task.py
Due: none

Comment execute override and use upstream sensor
  astronomer/providers/core/sensors/external_task.py
Due: none

Retry on closed connection in trigger
  astronomer/providers/core/sensors/external_task.py
  astronomer/providers/core/triggers/external_task.py
Due: none

Remove unused HttpHook in sensor
  astronomer/providers/core/sensors/external_task.py
Due: none

Keep response from HttpTrigger
  astronomer/providers/core/triggers/external_task.py
Due: none

Remove commented code
  astronomer/providers/core/sensors/external_task.py
  astronomer/providers/core/triggers/external_task.py
Due: none

Fix CI dependency resolution and drop Python 3.8 and 3.9
  .circleci/Dockerfile
  .circleci/config.yml
  .github/workflows/runtime-image-update.yaml
  .readthedocs.yaml
  astronomer/providers/amazon/aws/hooks/base_aws.py
  pyproject.toml
  setup.cfg
  tests/amazon/aws/operators/test_batch.py
  tests/conftest.py
Due: sync-all-extras-setup.cfg, sync-version-setup.cfg-docs-conf, sync-version-desc-setup.cfg-package, changelog-update, list-extras-readme

Split constraints URL to satisfy yamllint line length
  .circleci/config.yml
Due: none

Bump Codecov orb to 6.1.0
  .circleci/config.yml
Due: none

Remove S3 and GCS XCom backends
  CHANGELOG.rst
  CONTRIBUTING.rst
  README.rst
  astronomer/providers/amazon/aws/xcom_backends/__init__.py
  astronomer/providers/amazon/aws/xcom_backends/s3.py
  astronomer/providers/google/cloud/xcom_backends/__init__.py
  astronomer/providers/google/cloud/xcom_backends/gcs.py
  dev/docker-compose.yaml
  setup.cfg
  tests/amazon/aws/xcom_backends/__init__.py
  tests/amazon/aws/xcom_backends/test_s3.py
  tests/google/__init__.py
  tests/google/cloud/__init__.py
  tests/google/cloud/xcom_backends/__init__.py
  tests/google/cloud/xcom_backends/test_gcs.py
Due: sync-all-extras-setup.cfg, sync-version-setup.cfg-docs-conf, sync-version-desc-setup.cfg-package, changelog-update, list-extras-readme

Drop typing_compat
  .circleci/scripts/pre_commit_context_typing_compat.py
  .pre-commit-config.yaml
  CHANGELOG.rst
  astronomer/providers/amazon/aws/hooks/redshift_data.py
  astronomer/providers/amazon/aws/operators/redshift_sql.py
  astronomer/providers/apache/hive/sensors/hive_partition.py
  astronomer/providers/apache/hive/sensors/named_hive_partition.py
  astronomer/providers/core/sensors/astro.py
  astronomer/providers/core/sensors/external_task.py
  astronomer/providers/snowflake/sensors/snowflake.py
  astronomer/providers/utils/sensor_util.py
  astronomer/providers/utils/typing_compat.py
  tests/utils/test_typing_compat.py
Due: changelog-update

Apply ruff py310 rewrites and ruff format
  .circleci/integration-tests/master_dag.py
  .circleci/scripts/pre_commit_changelog_upto_date.py
  .circleci/scripts/pre_commit_readme_extra.py
  .circleci/scripts/pre_commit_setup_cfg_all_extra.py
  .circleci/scripts/pre_commit_sync_version_desc_package.py
  .circleci/scripts/pre_commit_sync_version_docs.py
  .circleci/scripts/verify_tag_and_version.py
  astronomer/providers/amazon/aws/hooks/redshift_data.py
  astronomer/providers/amazon/aws/hooks/redshift_sql.py
  astronomer/providers/amazon/aws/triggers/redshift_sql.py
  astronomer/providers/apache/hive/example_dags/example_hive.py
  astronomer/providers/apache/hive/hooks/hive.py
  astronomer/providers/apache/hive/sensors/named_hive_partition.py
  astronomer/providers/apache/hive/triggers/hive_partition.py
  astronomer/providers/apache/hive/triggers/named_hive_partition.py
  astronomer/providers/core/example_dags/example_external_deployment_task_sensor.py
  astronomer/providers/core/triggers/astro.py
  astronomer/providers/core/triggers/external_task.py
  astronomer/providers/package.py
  astronomer/providers/snowflake/hooks/snowflake.py
  astronomer/providers/snowflake/sensors/snowflake.py
  astronomer/providers/snowflake/triggers/snowflake_trigger.py
  docs/_ext/traverse_operators_sensors.py
  tests/apache/hive/sensors/test_named_hive_partition.py
  tests/core/hooks/test_astro.py
  tests/core/sensors/test_astro.py
  tests/core/sensors/test_external_task.py
  tests/core/triggers/test_astro.py
  tests/snowflake/sensors/test_snowflake.py
  tests/snowflake/triggers/test_snowflake.py
Due: sync-version-desc-setup.cfg-package

Replace black, pydocstyle and bandit with ruff and run every hook in CI
  .circleci/config.yml
  .circleci/integration-tests/astronomer_migration_dag.py
  .github/workflows/delete-branch-on-pr-close.yaml
  .github/workflows/release.yaml
  .github/workflows/reuse-wf-check-rc-release.yaml
  .github/workflows/reuse-wf-deploy-to-astro-cloud.yaml
  .github/workflows/reuse-wf-trigger-dag.yaml
  .github/workflows/runtime-image-update.yaml
  .github/workflows/stale.yaml
  .pre-commit-config.yaml
  README.rst
  dev/prepare_release_scripts/changelog_drafter.py
  pyproject.toml
Due: list-extras-readme

Trim integration tests to the remaining example DAGs
  .circleci/integration-tests/Dockerfile.astro_cloud
  .circleci/integration-tests/master_dag.py
  .circleci/integration-tests/nuke-config.yml
  .circleci/integration-tests/script.sh
  .github/scripts/refactor_dag.py
  .github/workflows/reuse-wf-deploy-to-astro-cloud.yaml
  Makefile
  astronomer/providers/amazon/aws/example_dags/example_aws_nuke.py
  astronomer/providers/amazon/aws/example_dags/example_delete_stale_emr_iam_roles.sh
  astronomer/providers/amazon/aws/example_dags/example_delete_stale_emr_vpcs.sh
  astronomer/providers/google/__init__.py
  astronomer/providers/google/cloud/__init__.py
  astronomer/providers/google/cloud/example_dags/__init__.py
  astronomer/providers/google/cloud/example_dags/example_gcp_nuke.py
  dev/Dockerfile.aws
  dev/Dockerfile.emr_eks_container
  dev/Dockerfile.google_cloud
  dev/local_flask_lineage_server.py
Due: none

Run unit tests against Airflow 3.3
  .circleci/config.yml
  setup.cfg
  tests/conftest.py
  tests/core/hooks/test_astro.py
  tests/utils/airflow_util.py
Due: sync-all-extras-setup.cfg, sync-version-setup.cfg-docs-conf, sync-version-desc-setup.cfg-package, changelog-update, list-extras-readme

Import moved Airflow classes from airflow.sdk on Airflow 3
  CHANGELOG.rst
  astronomer/providers/amazon/aws/hooks/redshift_data.py
  astronomer/providers/amazon/aws/operators/redshift_sql.py
  astronomer/providers/apache/hive/hooks/hive.py
  astronomer/providers/apache/hive/sensors/hive_partition.py
  astronomer/providers/apache/hive/sensors/named_hive_partition.py
  astronomer/providers/core/hooks/astro.py
  astronomer/providers/core/sensors/astro.py
  astronomer/providers/core/sensors/external_task.py
  astronomer/providers/core/triggers/external_task.py
  astronomer/providers/snowflake/sensors/snowflake.py
  astronomer/providers/utils/compat.py
  astronomer/providers/utils/sensor_util.py
Due: changelog-update

Support Airflow 3 deployments in AstroHook
  CHANGELOG.rst
  astronomer/providers/core/hooks/astro.py
  tests/core/hooks/test_astro.py
Due: changelog-update
