Repository astronomer/astronomer-providers: changes, and which pre-commit hooks are due for each by the changed paths.
All: sync-all-extras-setup.cfg, sync-version-setup.cfg-docs-conf, changelog-update

.pre-commit-config.yaml:

---
repos:
  - repo: meta
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.2.0
    hooks:
      - id: check-merge-conflict
      - id: check-toml
      - id: check-yaml
      - id: debug-statements
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
      - id: detect-private-key
      - id: detect-aws-credentials
        args: ["--allow-missing-credentials"]

  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.9.0
    hooks:
      - id: rst-backticks
      - id: python-no-log-warn
      - id: python-check-mock-methods
      - id: python-check-blanket-type-ignore

  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.1.13
    hooks:
      - id: forbid-crlf
      - id: remove-crlf
      - id: forbid-tabs
      - id: remove-tabs

  - repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
      - id: black

  - repo: https://github.com/asottile/blacken-docs
    rev: v1.12.1
    hooks:
      - id: blacken-docs
        additional_dependencies: [black==22.3.0]

  - repo: https://github.com/pycqa/isort
    rev: 5.10.1
    hooks:
      - id: isort
        args: ["--profile=black"]

  - repo: https://github.com/pycqa/flake8
    rev: 4.0.1
    hooks:
      - id: flake8
        additional_dependencies:
          - flake8-builtins
          - flake8-comprehensions
          - flake8-colors
          - flake8-rst-docstrings
          - flake8-assertive
          - flake8-typing-imports
          - flake8-logging-format
          - flake8-bugbear

  - repo: https://github.com/codespell-project/codespell
    rev: v2.1.0
    hooks:
      - id: codespell
        name: Run codespell to check for common misspellings in files
        language: python
        types: [text]
        args: ["--write-changes", "--ignore-words-list", "asend"]

  - repo: https://github.com/adrienverge/yamllint
    rev: v1.26.3
    hooks:
      - id: yamllint
        name: Check YAML files with yamllint
        entry: yamllint -c yamllint-config.yml --strict
        types: [yaml]

  - repo: https://github.com/pycqa/pydocstyle
    rev: 6.1.1
    hooks:
      - id: pydocstyle
        name: Run pydocstyle
        exclude: |
          ^tests/.*\.py$|
          ^scripts/.*\.py$|
          ^dev|
          .*example_dags/.*|
        additional_dependencies: ['toml']

  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.4
    hooks:
      - id: bandit
        # Excluding Example DAGs temporarily until they can be fixed
        exclude: ^tests/.*\.py$|.*example_dags/.*

  - repo: local
    hooks:
      - id: sync-all-extras-setup.cfg
        name: Sync "all" extra in setup.cfg
        language: python
        files: ^setup.cfg$
        pass_filenames: false
        entry: .circleci/scripts/pre_commit_setup_cfg_all_extra.py
      - id: sync-version-setup.cfg-docs-conf
        name: Sync "version" of the package in setup.cfg and docs/conf.py
        language: python
        files: ^setup.cfg$|^docs/conf.py$
        pass_filenames: false
        entry: .circleci/scripts/pre_commit_sync_version_docs.py
      - id: changelog-update
        name: Verify changelog is updated when releasing a new version
        language: python
        files: ^setup.cfg$|^CHANGELOG.rst$
        pass_filenames: false
        entry: .circleci/scripts/pre_commit_changelog_upto_date.py
        additional_dependencies:
          - packaging

Fix doc
  tests/databricks/hooks/test_databricks.py
Due: none

Update setup.cfg to use RC provider packages
  setup.cfg
Due: sync-all-extras-setup.cfg, sync-version-setup.cfg-docs-conf, changelog-update

Fix Code coverage
  tests/databricks/triggers/test_databricks.py
Due: none

Make get_credentials method public
  astronomer/providers/google/cloud/hooks/dataproc.py
  tests/google/cloud/hooks/test_dataproc.py
Due: none

Fix mypy and add mock object
  astronomer/providers/google/cloud/hooks/dataproc.py
  tests/google/cloud/hooks/test_dataproc.py
Due: none

Fix mypy issue
  astronomer/providers/google/cloud/hooks/dataproc.py
Due: none

Fix _emr_eks_pi_job DAG failing new RC apache-airflow-providers-amazon==6.0.0rc1
  astronomer/providers/amazon/aws/operators/emr.py
Due: none

Fix mypy for google 8.4.0rc1
  astronomer/providers/google/cloud/hooks/dataproc.py
  astronomer/providers/google/cloud/operators/bigquery.py
  astronomer/providers/google/cloud/operators/dataproc.py
Due: none

Fix mypy
  astronomer/providers/amazon/aws/operators/emr.py
Due: none

Apply suggestions from code review
  astronomer/providers/amazon/aws/operators/emr.py
Due: none

Fix mypy and UT for stable version
  astronomer/providers/google/cloud/hooks/dataproc.py
  astronomer/providers/google/cloud/operators/bigquery.py
  astronomer/providers/google/cloud/operators/dataproc.py
  tests/google/cloud/hooks/test_dataproc.py
Due: none

Remove space
  astronomer/providers/google/cloud/operators/bigquery.py
Due: none

Fix review comment
  astronomer/providers/google/cloud/hooks/dataproc.py
Due: none

Fix Dataproc dag failure due to new RC 8.4.0rc1 (#680)
  astronomer/providers/google/cloud/hooks/dataproc.py
Due: none

Fix emr_eks_pi_job DAG failing in new RC 6.0.0rc1 (#682)
  astronomer/providers/amazon/aws/operators/emr.py
Due: none

Release 1.10.0
  CHANGELOG.rst
  astronomer/providers/package.py
  docs/conf.py
  setup.cfg
Due: sync-all-extras-setup.cfg, sync-version-setup.cfg-docs-conf, changelog-update

fix docs
  CHANGELOG.rst
Due: changelog-update

Fix review comment
  CHANGELOG.rst
Due: changelog-update

Move `ExternalDeploymentTaskTrigger` to core
  astronomer/providers/core/sensors/external_task.py
  astronomer/providers/core/triggers/external_task.py
  astronomer/providers/http/sensors/external_deployment_task.py
  astronomer/providers/http/triggers/http.py
  docs/providers/core/index.rst
  docs/providers/core/sensors/external_task.rst
  docs/providers/http/index.rst
  docs/providers/http/sensors/external_deployment_task.rst
  tests/core/sensors/test_external_task.py
  tests/core/triggers/test_external_task.py
  tests/http/sensors/test_external_deployment_task.py
  tests/http/triggers/test_http.py
Due: none

Fix
  astronomer/providers/core/example_dags/example_external_deployment_task_sensor.py
  astronomer/providers/core/triggers/external_task.py
  docs/providers/core/sensors/external_task.rst
  tests/core/triggers/test_external_task.py
Due: none

Move `ExternalDeploymentTask` to core (#684)
  astronomer/providers/core/example_dags/example_external_deployment_task_sensor.py
  astronomer/providers/core/sensors/external_task.py
  astronomer/providers/core/triggers/external_task.py
  astronomer/providers/http/sensors/external_deployment_task.py
  astronomer/providers/http/triggers/http.py
  docs/providers/core/index.rst
  docs/providers/core/sensors/external_task.rst
  docs/providers/http/index.rst
  docs/providers/http/sensors/external_deployment_task.rst
  tests/core/sensors/test_external_task.py
  tests/core/triggers/test_external_task.py
  tests/http/sensors/test_external_deployment_task.py
  tests/http/triggers/test_http.py
Due: none

Update exmaple dag path
  CHANGELOG.rst
Due: changelog-update

Remove S3 backend
  astronomer/providers/amazon/aws/xcom_backends/__init__.py
  astronomer/providers/amazon/aws/xcom_backends/s3.py
  tests/amazon/aws/xcom_backends/__init__.py
  tests/amazon/aws/xcom_backends/test_s3.py
Due: none

Remove S3 backend (#685)
  astronomer/providers/amazon/aws/xcom_backends/__init__.py
  astronomer/providers/amazon/aws/xcom_backends/s3.py
  tests/amazon/aws/xcom_backends/__init__.py
  tests/amazon/aws/xcom_backends/test_s3.py
Due: none

Release 1.10.0 (#686)
  CHANGELOG.rst
  astronomer/providers/package.py
  docs/conf.py
  setup.cfg
Due: sync-all-extras-setup.cfg, sync-version-setup.cfg-docs-conf, changelog-update

Bump version to 1.11.0.dev1
  astronomer/providers/package.py
  docs/conf.py
  setup.cfg
Due: sync-all-extras-setup.cfg, sync-version-setup.cfg-docs-conf, changelog-update

Bump version to 1.11.0.dev1 (#687)
  astronomer/providers/package.py
  docs/conf.py
  setup.cfg
Due: sync-all-extras-setup.cfg, sync-version-setup.cfg-docs-conf, changelog-update

Fix mypy issue
  astronomer/providers/amazon/aws/operators/emr.py
Due: none

Fix mypy issue (#698)
  astronomer/providers/amazon/aws/operators/emr.py
Due: none

Handel the Databricks Operator failures
  astronomer/providers/databricks/hooks/databricks.py
  astronomer/providers/databricks/triggers/databricks.py
  tests/databricks/hooks/test_databricks.py
  tests/databricks/triggers/test_databricks.py
Due: none

Simplify nested case
  astronomer/providers/databricks/triggers/databricks.py
Due: none

Handle the Databricks Operator failures (#674)
  astronomer/providers/databricks/hooks/databricks.py
  astronomer/providers/databricks/triggers/databricks.py
  tests/databricks/hooks/test_databricks.py
  tests/databricks/triggers/test_databricks.py
Due: none

Modify test RC dependency automation to create a PR
  Makefile
Due: none
