Repository astronomer/astronomer-providers: changes, and which pre-commit hooks are due for each by the changed paths.
All: sync-all-extras-setup.cfg, sync-version-setup.cfg-docs-conf, sync-version-desc-setup.cfg-package, changelog-update, list-extras-readme

sync-all-extras-setup.cfg:
  name: Sync "all" extra in setup.cfg
  language: python
  pass_filenames: false
  entry: .circleci/scripts/pre_commit_setup_cfg_all_extra.py

sync-version-setup.cfg-docs-conf:
  name: Sync "version" of the package in setup.cfg and docs/conf.py
  language: python
  pass_filenames: false
  entry: .circleci/scripts/pre_commit_sync_version_docs.py

sync-version-desc-setup.cfg-package:
  name: Sync "version" & "description" of the package in setup.cfg and astronomer/providers/package.py
  language: python
  pass_filenames: false
  entry: .circleci/scripts/pre_commit_sync_version_desc_package.py

changelog-update:
  name: Verify changelog is updated when releasing a new version
  language: python
  pass_filenames: false
  entry: .circleci/scripts/pre_commit_changelog_upto_date.py
  additional_dependencies:
  - packaging

list-extras-readme:
  name: List all the extras in README.rst
  language: python
  pass_filenames: false
  entry: .circleci/scripts/pre_commit_readme_extra.py

Fix bug fech last dagrun
  astronomer/providers/core/example_dags/example_astro.py
  astronomer/providers/core/hooks/astro.py
Due: none

Apply review suggestions
  astronomer/providers/core/sensors/astro.py
Due: none

Add ExternalDeploymentSensor
  astronomer/providers/core/example_dags/example_astro.py
  astronomer/providers/core/hooks/__init__.py
  astronomer/providers/core/hooks/astro.py
  astronomer/providers/core/sensors/astro.py
  astronomer/providers/core/triggers/astro.py
  astronomer/providers/package.py
  tests/core/hooks/__init__.py
  tests/core/hooks/test_astro.py
  tests/core/sensors/test_astro.py
  tests/core/triggers/test_astro.py
Due: sync-version-desc-setup.cfg-package

Update tests
  astronomer/providers/core/hooks/astro.py
  tests/core/hooks/test_astro.py
Due: none

Change http call to async
  astronomer/providers/core/hooks/astro.py
  astronomer/providers/core/triggers/astro.py
  tests/core/hooks/test_astro.py
  tests/core/triggers/test_astro.py
Due: none

Updating setup.cfg with RC provider packages on https://github.com/apache/airflow/issues/37534
  setup.cfg
Due: sync-all-extras-setup.cfg, sync-version-setup.cfg-docs-conf, sync-version-desc-setup.cfg-package, changelog-update, list-extras-readme

Add ExternalDeploymentSensor (#1472)
  astronomer/providers/core/example_dags/example_astro.py
  astronomer/providers/core/hooks/__init__.py
  astronomer/providers/core/hooks/astro.py
  astronomer/providers/core/sensors/astro.py
  astronomer/providers/core/triggers/astro.py
  astronomer/providers/package.py
  tests/core/hooks/__init__.py
  tests/core/hooks/test_astro.py
  tests/core/sensors/test_astro.py
  tests/core/triggers/test_astro.py
Due: sync-version-desc-setup.cfg-package

Update upstream providers versions from RC versions
  setup.cfg
Due: sync-all-extras-setup.cfg, sync-version-setup.cfg-docs-conf, sync-version-desc-setup.cfg-package, changelog-update, list-extras-readme

Update upstream providers versions from RC versions (#1480)
  setup.cfg
Due: sync-all-extras-setup.cfg, sync-version-setup.cfg-docs-conf, sync-version-desc-setup.cfg-package, changelog-update, list-extras-readme

Release 1.19.0
  CHANGELOG.rst
  astronomer/providers/package.py
  docs/conf.py
  pyproject.toml
  setup.cfg
Due: sync-all-extras-setup.cfg, sync-version-setup.cfg-docs-conf, sync-version-desc-setup.cfg-package, changelog-update, list-extras-readme

Update CHANGELOG.rst
  CHANGELOG.rst
Due: changelog-update

docs(changelog): add deprecation notice to changelog
  CHANGELOG.rst
Due: changelog-update

docs(changelog): add python version bumping to changelog
  CHANGELOG.rst
Due: changelog-update

Release 1.19.0 (#1485)
  CHANGELOG.rst
  astronomer/providers/package.py
  docs/conf.py
  pyproject.toml
  setup.cfg
Due: sync-all-extras-setup.cfg, sync-version-setup.cfg-docs-conf, sync-version-desc-setup.cfg-package, changelog-update, list-extras-readme

Remove legacy API call
  astronomer/providers/core/example_dags/example_external_deployment_task_sensor.py
Due: none

Remove unused code
  astronomer/providers/core/example_dags/example_external_deployment_task_sensor.py
  astronomer/providers/core/sensors/external_task.py
Due: none

Add a note connection
  astronomer/providers/core/example_dags/example_external_deployment_task_sensor.py
Due: none

Remove legacy API call to generate token (#1484)
  astronomer/providers/core/example_dags/example_external_deployment_task_sensor.py
  astronomer/providers/core/sensors/external_task.py
Due: none

Update runtime image tag to 10.4.0-python-3.9-base
  .circleci/integration-tests/Dockerfile.astro_cloud
  Makefile
Due: none

Updating setup.cfg with RC provider packages on https://github.com/apache/airflow/issues/37890
  setup.cfg
Due: sync-all-extras-setup.cfg, sync-version-setup.cfg-docs-conf, sync-version-desc-setup.cfg-package, changelog-update, list-extras-readme

Correct google cloud-sdk download URL protocol to https from http
  .circleci/integration-tests/Dockerfile.astro_cloud
Due: none

Correct google cloud-sdk download URL protocol to https from http (#1489)
  .circleci/integration-tests/Dockerfile.astro_cloud
Due: none

Update runtime image tag to 10.5.0-python-3.9-base
  .circleci/integration-tests/Dockerfile.astro_cloud
  Makefile
Due: none

Disable scheduled run of providers integration tests
  .github/workflows/deploy-integration-tests.yaml
Due: none

Disable scheduled run of providers integration tests (#1492)
  .github/workflows/deploy-integration-tests.yaml
Due: none

deploy only when rc is released
  .github/workflows/reuse-wf-check-rc-release.yaml
Due: none

deploy only when rc is released
  .github/workflows/test-rc-release.yaml
Due: none

add rc_issue_url explictly
  .github/workflows/test-rc-release.yaml
Due: none

removing incorrect output
  .github/workflows/test-rc-release.yaml
Due: none

debuging a check
  .github/workflows/reuse-wf-check-rc-release.yaml
Due: none

adding rc_issue_url explicitly
  .github/workflows/test-rc-release.yaml
Due: none

revert explicit output
  .github/workflows/test-rc-release.yaml
Due: none

ci(github-actions): unify yaml format and explicitly export no_provider_changed
  .github/workflows/reuse-wf-check-rc-release.yaml
  .github/workflows/test-rc-release.yaml
Due: none

Apply suggestions from code review
  .github/workflows/reuse-wf-check-rc-release.yaml
  .github/workflows/test-rc-release.yaml
Due: none

Deploy only if RC is released (#1396)
  .github/workflows/reuse-wf-check-rc-release.yaml
  .github/workflows/test-rc-release.yaml
Due: none

Add task to revoke ingress rule
  astronomer/providers/apache/hive/example_dags/example_hive.py
  astronomer/providers/apache/livy/example_dags/example_livy.py
  astronomer/providers/sftp/example_dags/example_sftp.py
Due: none

Add docs
  astronomer/providers/apache/hive/example_dags/example_hive.py
  astronomer/providers/apache/livy/example_dags/example_livy.py
  astronomer/providers/sftp/example_dags/example_sftp.py
Due: none

Add docs
  astronomer/providers/apache/hive/example_dags/example_hive.py
Due: none

Add type
  astronomer/providers/apache/hive/example_dags/example_hive.py
  astronomer/providers/apache/livy/example_dags/example_livy.py
  astronomer/providers/sftp/example_dags/example_sftp.py
Due: none

Path conditions:
  sync-all-extras-setup.cfg: any of: ^setup.cfg$
  sync-version-setup.cfg-docs-conf: any of: ^setup.cfg$|^docs/conf.py$
  sync-version-desc-setup.cfg-package: any of: ^setup.cfg$|^astronomer/providers/package.py$
  changelog-update: any of: ^setup.cfg$|^CHANGELOG.rst$
  list-extras-readme: any of: ^setup.cfg$|^README.rst$
