Repository astronomer/astronomer-providers: changes, and which pre-commit hooks are due for each by the changed paths.
All: sync-all-extras-setup.cfg, sync-version-setup.cfg-docs-conf, changelog-update

sync-all-extras-setup.cfg:
  name: Sync "all" extra in setup.cfg
  language: python
  pass_filenames: false
  entry: .circleci/scripts/pre_commit_setup_cfg_all_extra.py

sync-version-setup.cfg-docs-conf:
  name: Sync "version" of the package in setup.cfg and docs/conf.py
  language: python
  pass_filenames: false
  entry: .circleci/scripts/pre_commit_sync_version_docs.py

changelog-update:
  name: Verify changelog is updated when releasing a new version
  language: python
  pass_filenames: false
  entry: .circleci/scripts/pre_commit_changelog_upto_date.py
  additional_dependencies:
  - packaging

Apply suggestions from code review
  Makefile
Due: none

Use logging instead of print
  dev/scripts/trigger_master_dag.py
Due: none

Add new Great Expectations Provider
  astronomer/providers/great_expectations/__init__.py
  astronomer/providers/great_expectations/example_dags/__init__.py
  astronomer/providers/great_expectations/operators/__init__.py
  astronomer/providers/great_expectations/operators/great_expectations.py
Due: none

Add make target to use pinned provider depedencies for testing an RC (#502)
  Makefile
  dev/scripts/replace_dependencies.py
  dev/scripts/trigger_master_dag.py
Due: none

Add pre step to delete EMR, EKS
  astronomer/providers/amazon/aws/example_dags/example_emr_eks_containers_job.py
Due: none

Bug Fix emr-eks create cluster
  astronomer/providers/amazon/aws/example_dags/example_emr_eks_containers_job.py
Due: none

Add copy button to Code Blocks in docs
  docs/conf.py
  setup.cfg
Due: sync-all-extras-setup.cfg, sync-version-setup.cfg-docs-conf, changelog-update

Add copy button to Code Blocks in docs (#505)
  docs/conf.py
  setup.cfg
Due: sync-all-extras-setup.cfg, sync-version-setup.cfg-docs-conf, changelog-update

Fix mypy errors
  astronomer/providers/cncf/kubernetes/hooks/kubernetes.py
Due: none

Fix mypy errors (#506)
  astronomer/providers/cncf/kubernetes/hooks/kubernetes.py
Due: none

Add custom Sphinx extension to list available operators & sensors
  docs/_ext/traverse_operators_sensors.py
  docs/conf.py
  docs/index.rst
  docs/providers/operators_and_sensors_list.rst
Due: sync-version-setup.cfg-docs-conf

Add class def links for sensors
  docs/_ext/traverse_operators_sensors.py
Due: none

Reference python code block CSS stylesheet
  docs/_ext/traverse_operators_sensors.py
  docs/_templates/traverse_operators/index.rst
Due: none

Add custom Sphinx extension to list available operators & sensors (#504)
  docs/_ext/traverse_operators_sensors.py
  docs/_templates/traverse_operators/index.rst
  docs/conf.py
  docs/index.rst
  docs/providers/operators_and_sensors_list.rst
Due: sync-version-setup.cfg-docs-conf

Implement Async Snowflake SQL API Operator
  .circleci/integration-tests/master_dag.py
  astronomer/providers/snowflake/example_dags/example_snowflake_sql_api.py
  astronomer/providers/snowflake/hooks/snowflake_sql_api.py
  astronomer/providers/snowflake/hooks/sql_api_generate_jwt.py
  astronomer/providers/snowflake/operators/snowflake.py
  astronomer/providers/snowflake/triggers/snowflake_trigger.py
  docs/providers/snowflake/index.rst
  docs/providers/snowflake/operators/snowflake_sql_api.rst
  tests/snowflake/hooks/test_snowflake_sql_api.py
  tests/snowflake/hooks/test_sql_api_generate_jwt.py
  tests/snowflake/operators/test_snowflake.py
  tests/snowflake/triggers/test_snowflake.py
Due: none

Upgrade base Airflow image to latest release
  .circleci/integration-tests/Dockerfile.astro_cloud
  .circleci/integration-tests/Dockerfile.gen_1
  dev/Dockerfile
  dev/Dockerfile.aws
  dev/Dockerfile.emr_eks_container
  dev/Dockerfile.google_cloud
Due: none

Use common variable to reference image name for Make targets
  Makefile
  dev/Dockerfile
  dev/Dockerfile.aws
  dev/Dockerfile.emr_eks_container
  dev/Dockerfile.google_cloud
  dev/docker-compose.yaml
Due: none

Upgrade base Airflow image to use latest release (#509)
  .circleci/integration-tests/Dockerfile.astro_cloud
  .circleci/integration-tests/Dockerfile.gen_1
  Makefile
  dev/Dockerfile
  dev/Dockerfile.aws
  dev/Dockerfile.emr_eks_container
  dev/Dockerfile.google_cloud
  dev/docker-compose.yaml
Due: none

Implement Async Snowflake SQL API Operator (#478)
  .circleci/integration-tests/master_dag.py
  astronomer/providers/snowflake/example_dags/example_snowflake_sql_api.py
  astronomer/providers/snowflake/hooks/snowflake_sql_api.py
  astronomer/providers/snowflake/hooks/sql_api_generate_jwt.py
  astronomer/providers/snowflake/operators/snowflake.py
  astronomer/providers/snowflake/triggers/snowflake_trigger.py
  docs/providers/snowflake/index.rst
  docs/providers/snowflake/operators/snowflake_sql_api.rst
  tests/snowflake/hooks/test_snowflake_sql_api.py
  tests/snowflake/hooks/test_sql_api_generate_jwt.py
  tests/snowflake/operators/test_snowflake.py
  tests/snowflake/triggers/test_snowflake.py
Due: none

Add 15 mins sleep between deploying image & triggering master DAG
  Makefile
Due: none

Update Makefile
  Makefile
Due: none

Fix mypy issue for token variable of sql_api_generate_jwt.py module
  astronomer/providers/snowflake/hooks/sql_api_generate_jwt.py
Due: none

Fix mypy issue for token variable of sql_api_generate_jwt.py module (#519)
  astronomer/providers/snowflake/hooks/sql_api_generate_jwt.py
Due: none

Add Airflow version in the Slack report for master DAG run
  .circleci/integration-tests/master_dag.py
Due: none

Include Airflow version as first line of the report
  .circleci/integration-tests/master_dag.py
Due: none

Update .circleci/integration-tests/master_dag.py
  .circleci/integration-tests/master_dag.py
Due: none

Add Airflow version in the Slack report for master DAG run (#521)
  .circleci/integration-tests/master_dag.py
Due: none

Add 15 mins sleep between deploying image & triggering master DAG (#517)
  Makefile
Due: none

Avoid bumping the version for HTTP provider and handle attribute error
  astronomer/providers/http/sensors/http.py
  setup.cfg
Due: sync-all-extras-setup.cfg, sync-version-setup.cfg-docs-conf, changelog-update

Add apache-airflow-providers-http>=4.0.0 to setup.cfg
  README.rst
  setup.cfg
Due: sync-all-extras-setup.cfg, sync-version-setup.cfg-docs-conf, changelog-update

Fix mypy errors for missing attribute in lower version of the provider
  astronomer/providers/http/sensors/http.py
Due: none

Fix async HTTP sensor failing with http: 4.0.0
  astronomer/providers/http/sensors/http.py
Due: none

Remove apache-airflow-providers-http from install_requires
  setup.cfg
Due: sync-all-extras-setup.cfg, sync-version-setup.cfg-docs-conf, changelog-update

Rename tests directory operators->sensors for http & increase coverage
  tests/http/sensors/__init__.py
  tests/http/sensors/test_http.py
Due: none

Fix async HTTP sensor failing with http: 4.0.0 (#515)
  README.rst
  astronomer/providers/http/sensors/http.py
  setup.cfg
  tests/http/sensors/__init__.py
  tests/http/sensors/test_http.py
Due: sync-all-extras-setup.cfg, sync-version-setup.cfg-docs-conf, changelog-update

Add pre-commit hook to check for dead links in markdown files
  .pre-commit-config.yaml
Due: none

Fix RedshiftSQL Operator
  astronomer/providers/amazon/aws/hooks/redshift_data.py
  astronomer/providers/amazon/aws/hooks/redshift_sql.py
  tests/amazon/aws/hooks/test_redshift_data.py
  tests/amazon/aws/hooks/test_redshift_sql.py
Due: none

Fix RedshiftSQL Operator (#522)
  astronomer/providers/amazon/aws/hooks/redshift_data.py
  astronomer/providers/amazon/aws/hooks/redshift_sql.py
  tests/amazon/aws/hooks/test_redshift_data.py
  tests/amazon/aws/hooks/test_redshift_sql.py
Due: none

Add pre-commit hook to check for dead links in markdown files (#524)
  .pre-commit-config.yaml
Due: none

Path conditions:
  sync-all-extras-setup.cfg: any of: ^setup.cfg$
  sync-version-setup.cfg-docs-conf: any of: ^setup.cfg$|^docs/conf.py$
  changelog-update: any of: ^setup.cfg$|^CHANGELOG.rst$
