Repository astronomer/astronomer-providers: changes, and which pre-commit hooks are due for each by the changed paths.
All: sync-all-extras-setup.cfg, sync-version-setup.cfg-docs-conf, changelog-update

sync-all-extras-setup.cfg:
  name: Sync "all" extra in setup.cfg
  language: python
  pass_filenames: false
  entry: .circleci/scripts/pre_commit_setup_cfg_all_extra.py

sync-version-setup.cfg-docs-conf:
  name: Sync "version" of the package in setup.cfg and docs/conf.py
  language: python
  pass_filenames: false
  entry: .circleci/scripts/pre_commit_sync_version_docs.py

changelog-update:
  name: Verify changelog is updated when releasing a new version
  language: python
  pass_filenames: false
  entry: .circleci/scripts/pre_commit_changelog_upto_date.py
  additional_dependencies:
  - packaging

Run dbt example dag as part of master dag
  .circleci/integration-tests/master_dag.py
Due: none

Update setup.cfg to use RC provider packages
  setup.cfg
Due: sync-all-extras-setup.cfg, sync-version-setup.cfg-docs-conf, changelog-update

Fix sagmaker
  astronomer/providers/amazon/aws/operators/sagemaker.py
Due: none

Fix mypy changes
  astronomer/providers/amazon/aws/operators/redshift_data.py
  astronomer/providers/amazon/aws/operators/sagemaker.py
Due: none

Fix tests
  tests/amazon/aws/operators/test_sagemaker.py
Due: none

skip code block of RC
  astronomer/providers/amazon/aws/operators/sagemaker.py
Due: none

skip code coverage
  astronomer/providers/amazon/aws/operators/sagemaker.py
Due: none

Fix sagemaker compatible with new provider
  astronomer/providers/amazon/aws/operators/sagemaker.py
  tests/amazon/aws/operators/test_sagemaker.py
Due: none

Fix mypy
  astronomer/providers/amazon/aws/operators/sagemaker.py
Due: none

Make amazon sagemaker async operators compatible with new amazon provider (#912)
  astronomer/providers/amazon/aws/operators/sagemaker.py
  tests/amazon/aws/operators/test_sagemaker.py
Due: none

865 the hook needs to contain similar kwargs as the google providers (#866)
  astronomer/providers/google/cloud/operators/bigquery.py
Due: none

update externalTaskSensor to check on worker first
  astronomer/providers/core/sensors/external_task.py
Due: none

modify snowflake sensor test
  tests/snowflake/sensors/test_snowflake.py
Due: none

Refactor snowflake sensor to check on worker first
  astronomer/providers/snowflake/sensors/snowflake.py
Due: none

Update ExternalTaskSensorAsync and SnowflakeSensorAsync to check on worker first (#908)
  astronomer/providers/core/sensors/external_task.py
  astronomer/providers/snowflake/sensors/snowflake.py
  tests/snowflake/sensors/test_snowflake.py
Due: none

Fix mypy
  astronomer/providers/amazon/aws/operators/redshift_data.py
  astronomer/providers/amazon/aws/operators/sagemaker.py
Due: none

Fix mypy (#917)
  astronomer/providers/amazon/aws/operators/redshift_data.py
  astronomer/providers/amazon/aws/operators/sagemaker.py
Due: none

Release 1.15.1
  CHANGELOG.rst
  astronomer/providers/package.py
  docs/conf.py
  setup.cfg
Due: sync-all-extras-setup.cfg, sync-version-setup.cfg-docs-conf, changelog-update

Fix review comments
  CHANGELOG.rst
Due: changelog-update

nit
  CHANGELOG.rst
Due: changelog-update

Release 1.15.1 (#916)
  CHANGELOG.rst
  astronomer/providers/package.py
  docs/conf.py
  setup.cfg
Due: sync-all-extras-setup.cfg, sync-version-setup.cfg-docs-conf, changelog-update

Bump version to 1.16.0.dev1
  astronomer/providers/package.py
  docs/conf.py
  setup.cfg
Due: sync-all-extras-setup.cfg, sync-version-setup.cfg-docs-conf, changelog-update

Fix review comments
  astronomer/providers/package.py
  docs/conf.py
  setup.cfg
Due: sync-all-extras-setup.cfg, sync-version-setup.cfg-docs-conf, changelog-update

Bump version to 1.16.0-dev (#918)
  astronomer/providers/package.py
  docs/conf.py
  setup.cfg
Due: sync-all-extras-setup.cfg, sync-version-setup.cfg-docs-conf, changelog-update

Skip missing timeout in requests API
  .pre-commit-config.yaml
  astronomer/providers/snowflake/extractors/snowflake.py
  pyproject.toml
Due: none

Run dbt example dag as part of master dag (#889)
  .circleci/integration-tests/master_dag.py
Due: none

Add poll_interval in BigQueryInsertJobOperatorAsync
  astronomer/providers/google/cloud/operators/bigquery.py
Due: none

Bump astro runtime version
  .circleci/integration-tests/Dockerfile.astro_cloud
  Makefile
Due: none

Bump astro-runtime version
  .circleci/integration-tests/Dockerfile.astro_cloud
  Makefile
Due: none

Bump astro-runtime version (#922)
  .circleci/integration-tests/Dockerfile.astro_cloud
  Makefile
Due: none

Bump astro runtime 7.4.1
  .circleci/integration-tests/Dockerfile.astro_cloud
  Makefile
Due: none

Bump astro runtime 7.4.1 (#923)
  .circleci/integration-tests/Dockerfile.astro_cloud
  Makefile
Due: none

Add else when check_fn is None
  astronomer/providers/amazon/aws/triggers/s3.py
Due: none

Update codeowners
  CODEOWNERS
Due: none

Update codeowners (#926)
  CODEOWNERS
Due: none

Fix `S3KeyTrigger` to not yield multiple trigger events (#925)
  astronomer/providers/amazon/aws/triggers/s3.py
Due: none

Replace python operator with redshift operators
  astronomer/providers/amazon/aws/example_dags/example_redshift_cluster_management.py
Due: none

Replace python operator with redshift operators (#928)
  astronomer/providers/amazon/aws/example_dags/example_redshift_cluster_management.py
Due: none

Path conditions:
  sync-all-extras-setup.cfg: any of: ^setup.cfg$
  sync-version-setup.cfg-docs-conf: any of: ^setup.cfg$|^docs/conf.py$
  changelog-update: any of: ^setup.cfg$|^CHANGELOG.rst$
