Repository astronomer/astronomer-providers: changes, and which pre-commit hooks are due for each by the changed paths.
All: sync-all-extras-setup.cfg, sync-version-setup.cfg-docs-conf, sync-version-desc-setup.cfg-package, changelog-update, list-extras-readme

Path conditions:
  sync-all-extras-setup.cfg: any of: ^setup.cfg$
  sync-version-setup.cfg-docs-conf: any of: ^setup.cfg$|^docs/conf.py$
  sync-version-desc-setup.cfg-package: any of: ^setup.cfg$|^astronomer/providers/package.py$
  changelog-update: any of: ^setup.cfg$|^CHANGELOG.rst$
  list-extras-readme: any of: ^setup.cfg$|^README.rst$

Update runtime image tag to 9.2.0-python-3.9-base
  .circleci/integration-tests/Dockerfile.astro_cloud
  Makefile
Due: none

Updating setup.cfg with RC provider packages on https://github.com/apache/airflow/issues/34930
  setup.cfg
Due: sync-all-extras-setup.cfg, sync-version-setup.cfg-docs-conf, sync-version-desc-setup.cfg-package, changelog-update, list-extras-readme

fix(azure): remove PipelineRunInfo as it's remove in azure provider 8.0.0
  astronomer/providers/microsoft/azure/operators/data_factory.py
  tests/microsoft/azure/operators/test_data_factory.py
  tests/microsoft/azure/sensors/test_data_factory.py
Due: none

style: fix mypy issue
  astronomer/providers/microsoft/azure/example_dags/example_adf_run_pipeline.py
  astronomer/providers/microsoft/azure/hooks/data_factory.py
Due: none

style: ignore example_dags wrong type
  astronomer/providers/microsoft/azure/example_dags/example_adf_run_pipeline.py
Due: none

fix(microsoft): make resource_group_name and factory_name required argument
  astronomer/providers/microsoft/azure/hooks/data_factory.py
  astronomer/providers/microsoft/azure/triggers/data_factory.py
Due: none

style(microsoft): cast type for fixing mypy issue
  astronomer/providers/microsoft/azure/example_dags/example_adf_run_pipeline.py
  astronomer/providers/microsoft/azure/hooks/data_factory.py
  astronomer/providers/microsoft/azure/triggers/data_factory.py
Due: none

fix(microsoft): add missing types for fixing example_adf_run_pipeline.py
  astronomer/providers/microsoft/azure/example_dags/example_adf_run_pipeline.py
Due: none

empty file for testing
  empty-file
Due: none

test
  .circleci/config.yml
Due: none

ci(circle-ci): remove unnecessay dependency build-docs
  .circleci/config.yml
Due: none

fix(azure): remove deprecated pipelineinfo
  astronomer/providers/microsoft/azure/operators/data_factory.py
Due: none

fix(microsoft): make resource_group_name and factory_name required argument
  astronomer/providers/microsoft/azure/hooks/data_factory.py
  astronomer/providers/microsoft/azure/triggers/data_factory.py
  tests/microsoft/azure/operators/test_data_factory.py
Due: none

ci(circle-ci): add temperorary solution for mypy env setup
  setup.cfg
Due: sync-all-extras-setup.cfg, sync-version-setup.cfg-docs-conf, sync-version-desc-setup.cfg-package, changelog-update, list-extras-readme

test(azure): fix missing argument issue
  tests/microsoft/azure/sensors/test_data_factory.py
Due: none

Updating setup.cfg with RC provider packages on https://github.com/apache/airflow/issues/35030
  setup.cfg
Due: sync-all-extras-setup.cfg, sync-version-setup.cfg-docs-conf, sync-version-desc-setup.cfg-package, changelog-update, list-extras-readme

style(microsoft): ignore type casting testing coverage
  astronomer/providers/microsoft/azure/hooks/data_factory.py
Due: none

Fix azure provider breaking change (#1341)
  .circleci/config.yml
  astronomer/providers/microsoft/azure/example_dags/example_adf_run_pipeline.py
  astronomer/providers/microsoft/azure/hooks/data_factory.py
  astronomer/providers/microsoft/azure/operators/data_factory.py
  astronomer/providers/microsoft/azure/triggers/data_factory.py
  setup.cfg
  tests/microsoft/azure/operators/test_data_factory.py
  tests/microsoft/azure/sensors/test_data_factory.py
Due: sync-all-extras-setup.cfg, sync-version-setup.cfg-docs-conf, sync-version-desc-setup.cfg-package, changelog-update, list-extras-readme

Update runtime image tag to 9.3.0-python-3.9-base
  .circleci/integration-tests/Dockerfile.astro_cloud
  Makefile
Due: none

Update runtime image tag to 9.4.0-python-3.9-base
  .circleci/integration-tests/Dockerfile.astro_cloud
  Makefile
Due: none

Updating setup.cfg with RC provider packages on https://github.com/apache/airflow/issues/35240
  setup.cfg
Due: sync-all-extras-setup.cfg, sync-version-setup.cfg-docs-conf, sync-version-desc-setup.cfg-package, changelog-update, list-extras-readme

fix(databricks): fix _retryable_error_async type
  astronomer/providers/databricks/hooks/databricks.py
Due: none

fix(databricks): import future annotation
  astronomer/providers/databricks/hooks/databricks.py
Due: none

fix mypy
  astronomer/providers/databricks/hooks/databricks.py
Due: none

Handle ClientConnectorError to allow for retries
  astronomer/providers/databricks/hooks/databricks.py
Due: none

refactor(databricks): make _retryable_error_async a static method and add test
  astronomer/providers/databricks/hooks/databricks.py
  tests/databricks/hooks/test_databricks.py
Due: none

Handle ClientConnectorError to allow for retries (#1338)
  astronomer/providers/databricks/hooks/databricks.py
  tests/databricks/hooks/test_databricks.py
Due: none

Add comments for ADF dag client-id
  astronomer/providers/microsoft/azure/example_dags/example_adf_run_pipeline.py
Due: none

Add comments for ADF dag client-id (#1351)
  astronomer/providers/microsoft/azure/example_dags/example_adf_run_pipeline.py
Due: none

Release 1.18.1
  CHANGELOG.rst
  astronomer/providers/package.py
  docs/conf.py
  pyproject.toml
  setup.cfg
Due: sync-all-extras-setup.cfg, sync-version-setup.cfg-docs-conf, sync-version-desc-setup.cfg-package, changelog-update, list-extras-readme

Update CHANGELOG.rst
  CHANGELOG.rst
Due: changelog-update

Release 1.18.1 (#1352)
  CHANGELOG.rst
  astronomer/providers/package.py
  docs/conf.py
  pyproject.toml
  setup.cfg
Due: sync-all-extras-setup.cfg, sync-version-setup.cfg-docs-conf, sync-version-desc-setup.cfg-package, changelog-update, list-extras-readme

Bump version to 1.19.0-dev1
  astronomer/providers/package.py
  docs/conf.py
  pyproject.toml
  setup.cfg
Due: sync-all-extras-setup.cfg, sync-version-setup.cfg-docs-conf, sync-version-desc-setup.cfg-package, changelog-update, list-extras-readme

Bump version to 1.19.0-dev1 (#1353)
  astronomer/providers/package.py
  docs/conf.py
  pyproject.toml
  setup.cfg
Due: sync-all-extras-setup.cfg, sync-version-setup.cfg-docs-conf, sync-version-desc-setup.cfg-package, changelog-update, list-extras-readme
