Repository astronomer/astronomer-providers: changes, and which pre-commit hooks are due for each by the changed paths.
All: sync-all-extras-setup.cfg, sync-version-setup.cfg-docs-conf, sync-version-desc-setup.cfg-package, changelog-update, list-extras-readme

sync-all-extras-setup.cfg:
  name: Sync "all" extra in setup.cfg
  language: python
  pass_filenames: false
  entry: .circleci/scripts/pre_commit_setup_cfg_all_extra.py

sync-version-setup.cfg-docs-conf:
  name: Sync "version" of the package in setup.cfg and docs/conf.py
  language: python
  pass_filenames: false
  entry: .circleci/scripts/pre_commit_sync_version_docs.py

sync-version-desc-setup.cfg-package:
  name: Sync "version" & "description" of the package in setup.cfg and astronomer/providers/package.py
  language: python
  pass_filenames: false
  entry: .circleci/scripts/pre_commit_sync_version_desc_package.py

changelog-update:
  name: Verify changelog is updated when releasing a new version
  language: python
  pass_filenames: false
  entry: .circleci/scripts/pre_commit_changelog_upto_date.py
  additional_dependencies:
  - packaging

list-extras-readme:
  name: List all the extras in README.rst
  language: python
  pass_filenames: false
  entry: .circleci/scripts/pre_commit_readme_extra.py

Update release docs updating version section (#971)
  RELEASING.rst
  pyproject.toml
Due: none

Apply review suggestions
  astronomer/providers/package.py
  docs/conf.py
  setup.cfg
Due: sync-all-extras-setup.cfg, sync-version-setup.cfg-docs-conf, sync-version-desc-setup.cfg-package, changelog-update, list-extras-readme

Bump dev version to 1.16.0.dev
  astronomer/providers/package.py
  docs/conf.py
  setup.cfg
Due: sync-all-extras-setup.cfg, sync-version-setup.cfg-docs-conf, sync-version-desc-setup.cfg-package, changelog-update, list-extras-readme

update pyproject.toml
  pyproject.toml
Due: none

Bump dev version to 1.16.0dev (#970)
  astronomer/providers/package.py
  docs/conf.py
  pyproject.toml
  setup.cfg
Due: sync-all-extras-setup.cfg, sync-version-setup.cfg-docs-conf, sync-version-desc-setup.cfg-package, changelog-update, list-extras-readme

Support host key verification for SFTPSensorAsync (#963)
  astronomer/providers/sftp/hooks/sftp.py
  tests/sftp/hooks/test_sftp.py
Due: none

Update setup.cfg to use RC provider packages
  setup.cfg
Due: sync-all-extras-setup.cfg, sync-version-setup.cfg-docs-conf, sync-version-desc-setup.cfg-package, changelog-update, list-extras-readme

Fix usage of removed deprecated params, mypy failures
  astronomer/providers/amazon/aws/operators/batch.py
  astronomer/providers/amazon/aws/operators/redshift_sql.py
  astronomer/providers/amazon/aws/triggers/batch.py
  astronomer/providers/google/cloud/operators/bigquery.py
  astronomer/providers/google/cloud/sensors/bigquery.py
  astronomer/providers/google/cloud/sensors/gcs.py
Due: none

Fix segmaker task for new oss provider
  astronomer/providers/amazon/aws/operators/sagemaker.py
  tests/amazon/aws/operators/test_sagemaker.py
Due: none

Ignore coverage for old version
  astronomer/providers/amazon/aws/operators/sagemaker.py
Due: none

Copy sagemaker fixes from PR #974 created by @pankajastro
  astronomer/providers/amazon/aws/operators/sagemaker.py
  tests/amazon/aws/operators/test_sagemaker.py
Due: none

Catch attribute errors for old version
  astronomer/providers/amazon/aws/operators/batch.py
Due: none

Correct argument for batch trigger test
  tests/amazon/aws/triggers/test_batch.py
Due: none

Update astronomer/providers/amazon/aws/operators/sagemaker.py
  astronomer/providers/amazon/aws/operators/sagemaker.py
Due: none

Fix failing test
  tests/amazon/aws/triggers/test_batch.py
Due: none

Fix mypy failures for batch operator
  astronomer/providers/amazon/aws/operators/batch.py
Due: none

Use aws_default conn_id
  tests/amazon/aws/operators/test_batch.py
Due: none

Apply suggestions from code review
  astronomer/providers/google/cloud/operators/bigquery.py
  astronomer/providers/google/cloud/sensors/bigquery.py
  astronomer/providers/google/cloud/sensors/gcs.py
Due: none

Fix Batch operator async for Amazon provider release 8.0.0
  astronomer/providers/amazon/aws/operators/batch.py
  astronomer/providers/amazon/aws/triggers/batch.py
  tests/amazon/aws/operators/test_batch.py
  tests/amazon/aws/triggers/test_batch.py
Due: none

Fix sagemaker operator for Amazon provider release 8.0.0
  astronomer/providers/amazon/aws/operators/sagemaker.py
Due: none

Fix mypy failure
  astronomer/providers/amazon/aws/operators/batch.py
Due: none

Fix bigquery & gcs operators & sensors for Google provider 10.0.0
  astronomer/providers/google/cloud/operators/bigquery.py
  astronomer/providers/google/cloud/sensors/bigquery.py
  astronomer/providers/google/cloud/sensors/gcs.py
Due: none

Fix mypy failure
  astronomer/providers/google/cloud/operators/bigquery.py
Due: none

Try fix for tests
  tests/amazon/aws/operators/test_sagemaker.py
Due: none

Update astronomer/providers/amazon/aws/operators/batch.py
  astronomer/providers/amazon/aws/operators/batch.py
Due: none

Format docstring
  astronomer/providers/google/cloud/operators/bigquery.py
  astronomer/providers/google/cloud/sensors/bigquery.py
  astronomer/providers/google/cloud/sensors/gcs.py
Due: none

Format docstring
  astronomer/providers/amazon/aws/operators/batch.py
Due: none

Fix Batch operator async for Amazon provider release 8.0.0 (#978)
  astronomer/providers/amazon/aws/operators/batch.py
  astronomer/providers/amazon/aws/triggers/batch.py
  tests/amazon/aws/operators/test_batch.py
  tests/amazon/aws/triggers/test_batch.py
Due: none

Fix sagemaker operator for Amazon provider release 8.0.0 (#979)
  astronomer/providers/amazon/aws/operators/sagemaker.py
  tests/amazon/aws/operators/test_sagemaker.py
Due: none

Fix bigquery & gcs operators & sensors for Google provider 10.0.0 (#981)
  astronomer/providers/google/cloud/operators/bigquery.py
  astronomer/providers/google/cloud/sensors/bigquery.py
  astronomer/providers/google/cloud/sensors/gcs.py
Due: none

Add PR #963 to the Changelog
  CHANGELOG.rst
Due: changelog-update

Release 1.15.5
  CHANGELOG.rst
  astronomer/providers/package.py
  docs/conf.py
  pyproject.toml
  setup.cfg
Due: sync-all-extras-setup.cfg, sync-version-setup.cfg-docs-conf, sync-version-desc-setup.cfg-package, changelog-update, list-extras-readme

Update CHANGELOG.rst
  CHANGELOG.rst
Due: changelog-update

Release 1.15.5 (#983)
  CHANGELOG.rst
  astronomer/providers/package.py
  docs/conf.py
  pyproject.toml
  setup.cfg
Due: sync-all-extras-setup.cfg, sync-version-setup.cfg-docs-conf, sync-version-desc-setup.cfg-package, changelog-update, list-extras-readme

Reorder master DAG for quicker report
  .circleci/integration-tests/master_dag.py
Due: none

test(google/cloud): ignore test coverage on GKEStartPodOperatorAsync and GKEStartPodTrigger as their coverage depends on different provider version
  astronomer/providers/google/cloud/operators/kubernetes_engine.py
  astronomer/providers/google/cloud/triggers/kubernetes_engine.py
Due: none

feat(google): GKEStartPodOperatorAsync inherits GKEStartPodOperator from OSS airflow as the deferrable mode has been implemented
  astronomer/providers/google/cloud/__init__.py
  astronomer/providers/google/cloud/operators/kubernetes_engine.py
  astronomer/providers/google/cloud/triggers/kubernetes_engine.py
  tests/google/cloud/operators/test_kubernetes_engine.py
  tests/google/cloud/triggers/test_kubernetes_engine.py
Due: none

refactor(google): remove duplicate import
  astronomer/providers/google/cloud/operators/kubernetes_engine.py
Due: none

Path conditions:
  sync-all-extras-setup.cfg: any of: ^setup.cfg$
  sync-version-setup.cfg-docs-conf: any of: ^setup.cfg$|^docs/conf.py$
  sync-version-desc-setup.cfg-package: any of: ^setup.cfg$|^astronomer/providers/package.py$
  changelog-update: any of: ^setup.cfg$|^CHANGELOG.rst$
  list-extras-readme: any of: ^setup.cfg$|^README.rst$
