Repository astronomer/astronomer-providers: changes, and which pre-commit hooks are due for each by the changed paths.
All: sync-all-extras-setup.cfg, sync-version-setup.cfg-docs-conf, sync-version-desc-setup.cfg-package, changelog-update, list-extras-readme

sync-all-extras-setup.cfg:
  name: Sync "all" extra in setup.cfg
  language: python
  pass_filenames: false
  entry: .circleci/scripts/pre_commit_setup_cfg_all_extra.py

sync-version-setup.cfg-docs-conf:
  name: Sync "version" of the package in setup.cfg and docs/conf.py
  language: python
  pass_filenames: false
  entry: .circleci/scripts/pre_commit_sync_version_docs.py

sync-version-desc-setup.cfg-package:
  name: Sync "version" & "description" of the package in setup.cfg and astronomer/providers/package.py
  language: python
  pass_filenames: false
  entry: .circleci/scripts/pre_commit_sync_version_desc_package.py

changelog-update:
  name: Verify changelog is updated when releasing a new version
  language: python
  pass_filenames: false
  entry: .circleci/scripts/pre_commit_changelog_upto_date.py
  additional_dependencies:
  - packaging

list-extras-readme:
  name: List all the extras in README.rst
  language: python
  pass_filenames: false
  entry: .circleci/scripts/pre_commit_readme_extra.py

Fix automate process (#1280)
  .github/scripts/validate_release_commit.py
  .github/workflows/release.yaml
Due: none

Release 1.17.3
  CHANGELOG.rst
  astronomer/providers/package.py
  docs/conf.py
  pyproject.toml
  setup.cfg
Due: sync-all-extras-setup.cfg, sync-version-setup.cfg-docs-conf, sync-version-desc-setup.cfg-package, changelog-update, list-extras-readme

Update CHANGELOG.rst
  CHANGELOG.rst
Due: changelog-update

docs(CHANGELOG): add extra note for hive provider not supported on Python 3.11
  CHANGELOG.rst
Due: changelog-update

Release 1.17.3 (#1286)
  CHANGELOG.rst
  astronomer/providers/package.py
  docs/conf.py
  pyproject.toml
  setup.cfg
Due: sync-all-extras-setup.cfg, sync-version-setup.cfg-docs-conf, sync-version-desc-setup.cfg-package, changelog-update, list-extras-readme

Bump version to 1.18.0-dev1
  astronomer/providers/package.py
  docs/conf.py
  pyproject.toml
  setup.cfg
Due: sync-all-extras-setup.cfg, sync-version-setup.cfg-docs-conf, sync-version-desc-setup.cfg-package, changelog-update, list-extras-readme

Bump version to 1.18.0-dev1 (#1288)
  astronomer/providers/package.py
  docs/conf.py
  pyproject.toml
  setup.cfg
Due: sync-all-extras-setup.cfg, sync-version-setup.cfg-docs-conf, sync-version-desc-setup.cfg-package, changelog-update, list-extras-readme

Updating setup.cfg with RC provider packages on https://github.com/apache/airflow/issues/33193
  setup.cfg
Due: sync-all-extras-setup.cfg, sync-version-setup.cfg-docs-conf, sync-version-desc-setup.cfg-package, changelog-update, list-extras-readme

Clean snowflake query status check
  astronomer/providers/snowflake/operators/snowflake.py
Due: none

Add tests
  tests/snowflake/operators/test_snowflake.py
Due: none

cleanup
  astronomer/providers/snowflake/operators/snowflake.py
Due: none

Fix
  astronomer/providers/snowflake/operators/snowflake.py
Due: none

Remove tests
  tests/snowflake/operators/test_snowflake.py
Due: none

Apply review suggestions
  astronomer/providers/snowflake/operators/snowflake.py
Due: none

Fix typo in rc testing script
  dev/integration_test_scripts/replace_dependencies.py
Due: none

Fix typo in rc testing script (#1291)
  dev/integration_test_scripts/replace_dependencies.py
Due: none

Updating setup.cfg with RC provider packages on https://github.com/apache/airflow/issues/33257
  setup.cfg
Due: sync-all-extras-setup.cfg, sync-version-setup.cfg-docs-conf, sync-version-desc-setup.cfg-package, changelog-update, list-extras-readme

Ignore mypy error
  astronomer/providers/core/sensors/external_task.py
Due: none

Try not to use existing cache
  .circleci/config.yml
Due: none

style(dev): ignore security check on local dev script
  dev/prepare_release_scripts/changelog_drafter.py
Due: none

build(Makefile): add prepare_release target for simplify release steps
  Makefile
  dev/prepare_release_scripts/changelog_drafter.py
Due: none

docs(RELEASING): update release steps with the newly added `make prepare_release` make target
  RELEASING.rst
Due: none

test(google): remove redundant mock
  tests/cncf/kubernetes/operators/test_kubernetes_pod.py
  tests/google/cloud/operators/test_kubernetes_engine.py
Due: none

Revert "test(google): remove redundant mock"
  tests/cncf/kubernetes/operators/test_kubernetes_pod.py
  tests/google/cloud/operators/test_kubernetes_engine.py
Due: none

Pin Airflow version
  setup.cfg
Due: sync-all-extras-setup.cfg, sync-version-setup.cfg-docs-conf, sync-version-desc-setup.cfg-package, changelog-update, list-extras-readme

Fix style, test changes due to https://github.com/apache/airflow/issues/33257 (#1294)
  astronomer/providers/core/sensors/external_task.py
  tests/cncf/kubernetes/operators/test_kubernetes_pod.py
  tests/google/cloud/operators/test_kubernetes_engine.py
Due: none

Unpin airflow version
  setup.cfg
Due: sync-all-extras-setup.cfg, sync-version-setup.cfg-docs-conf, sync-version-desc-setup.cfg-package, changelog-update, list-extras-readme

Revert yaml config change
  .circleci/config.yml
Due: none

Pin Airflow to 2.6.3
  setup.cfg
Due: sync-all-extras-setup.cfg, sync-version-setup.cfg-docs-conf, sync-version-desc-setup.cfg-package, changelog-update, list-extras-readme

Revert "Pin Airflow to 2.6.3"
  setup.cfg
Due: sync-all-extras-setup.cfg, sync-version-setup.cfg-docs-conf, sync-version-desc-setup.cfg-package, changelog-update, list-extras-readme

adding python version in master DAG slack report
  .circleci/integration-tests/master_dag.py
Due: none

Updating setup.cfg with RC provider packages on https://github.com/apache/airflow/issues/32389
  setup.cfg
Due: sync-all-extras-setup.cfg, sync-version-setup.cfg-docs-conf, sync-version-desc-setup.cfg-package, changelog-update, list-extras-readme

Updating setup.cfg with RC provider packages on https://github.com/apache/airflow/issues/33305
  setup.cfg
Due: sync-all-extras-setup.cfg, sync-version-setup.cfg-docs-conf, sync-version-desc-setup.cfg-package, changelog-update, list-extras-readme

Path conditions:
  sync-all-extras-setup.cfg: any of: ^setup.cfg$
  sync-version-setup.cfg-docs-conf: any of: ^setup.cfg$|^docs/conf.py$
  sync-version-desc-setup.cfg-package: any of: ^setup.cfg$|^astronomer/providers/package.py$
  changelog-update: any of: ^setup.cfg$|^CHANGELOG.rst$
  list-extras-readme: any of: ^setup.cfg$|^README.rst$
