Repository astronomer/astronomer-providers: changes, and which pre-commit hooks are due for each by the changed paths.
All: sync-all-extras-setup.cfg, sync-version-setup.cfg-docs-conf, changelog-update

.pre-commit-config.yaml:

---
repos:
  - repo: meta
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.2.0
    hooks:
      - id: check-merge-conflict
      - id: check-toml
      - id: check-yaml
      - id: debug-statements
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
      - id: detect-private-key
      - id: detect-aws-credentials
        args: ["--allow-missing-credentials"]

  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.9.0
    hooks:
      - id: rst-backticks
      - id: python-no-log-warn
      - id: python-check-mock-methods
      - id: python-check-blanket-type-ignore

  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.1.13
    hooks:
      - id: forbid-crlf
      - id: remove-crlf
      - id: forbid-tabs
      - id: remove-tabs

  - repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
      - id: black

  - repo: https://github.com/asottile/blacken-docs
    rev: v1.12.1
    hooks:
      - id: blacken-docs
        additional_dependencies: [black==22.3.0]

  - repo: https://github.com/pycqa/isort
    rev: 5.10.1
    hooks:
      - id: isort
        args: ["--profile=black"]

  - repo: https://github.com/pycqa/flake8
    rev: 4.0.1
    hooks:
      - id: flake8
        additional_dependencies:
          - flake8-builtins
          - flake8-comprehensions
          - flake8-colors
          - flake8-rst-docstrings
          - flake8-assertive
          - flake8-typing-imports
          - flake8-logging-format
          - flake8-bugbear

  - repo: https://github.com/codespell-project/codespell
    rev: v2.1.0
    hooks:
      - id: codespell
        name: Run codespell to check for common misspellings in files
        language: python
        types: [text]
        args: ["--write-changes", "--ignore-words-list", "asend"]

  - repo: https://github.com/adrienverge/yamllint
    rev: v1.26.3
    hooks:
      - id: yamllint
        name: Check YAML files with yamllint
        entry: yamllint -c yamllint-config.yml --strict
        types: [yaml]

  - repo: https://github.com/pycqa/pydocstyle
    rev: 6.1.1
    hooks:
      - id: pydocstyle
        name: Run pydocstyle
        exclude: |
          ^tests/.*\.py$|
          ^scripts/.*\.py$|
          ^dev|
          .*example_dags/.*|
        additional_dependencies: ['toml']

  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.4
    hooks:
      - id: bandit
        # Excluding Example DAGs temporarily until they can be fixed
        exclude: ^tests/.*\.py$|.*example_dags/.*

  - repo: local
    hooks:
      - id: sync-all-extras-setup.cfg
        name: Sync "all" extra in setup.cfg
        language: python
        files: ^setup.cfg$
        pass_filenames: false
        entry: .circleci/scripts/pre_commit_setup_cfg_all_extra.py
      - id: sync-version-setup.cfg-docs-conf
        name: Sync "version" of the package in setup.cfg and docs/conf.py
        language: python
        files: ^setup.cfg$|^docs/conf.py$
        pass_filenames: false
        entry: .circleci/scripts/pre_commit_sync_version_docs.py
      - id: changelog-update
        name: Verify changelog is updated when releasing a new version
        language: python
        files: ^setup.cfg$|^CHANGELOG.rst$
        pass_filenames: false
        entry: .circleci/scripts/pre_commit_changelog_upto_date.py
        additional_dependencies:
          - packaging

Update setup.cfg to use RC provider packages
  setup.cfg
Due: sync-all-extras-setup.cfg, sync-version-setup.cfg-docs-conf, changelog-update

Add connection id to trigger
  astronomer/providers/cncf/kubernetes/operators/kubernetes_pod.py
Due: none

Fix KubernetesPodOperatorAsync to consider kubernetes connection id and details in trigger (#815)
  astronomer/providers/cncf/kubernetes/operators/kubernetes_pod.py
Due: none

Release 1.13.0
  CHANGELOG.rst
  astronomer/providers/package.py
  docs/conf.py
  setup.cfg
Due: sync-all-extras-setup.cfg, sync-version-setup.cfg-docs-conf, changelog-update

Fix change log
  CHANGELOG.rst
Due: changelog-update

Fixed change log
  CHANGELOG.rst
Due: changelog-update

Release 1.13.0 (#816)
  CHANGELOG.rst
  astronomer/providers/package.py
  docs/conf.py
  setup.cfg
Due: sync-all-extras-setup.cfg, sync-version-setup.cfg-docs-conf, changelog-update

Bump version to 1.14.0.dev1
  astronomer/providers/package.py
  docs/conf.py
  setup.cfg
Due: sync-all-extras-setup.cfg, sync-version-setup.cfg-docs-conf, changelog-update

Add poke interval in ExternalTaskSensorAsync
  astronomer/providers/core/sensors/external_task.py
Due: none

add poke for task state trigger
  astronomer/providers/core/sensors/external_task.py
Due: none

ExternalTaskSensorAsync to support poke_interval (#823)
  astronomer/providers/core/sensors/external_task.py
Due: none

Bump version to 1.14.0.dev1 (#818)
  astronomer/providers/package.py
  docs/conf.py
  setup.cfg
Due: sync-all-extras-setup.cfg, sync-version-setup.cfg-docs-conf, changelog-update

Custom XCom S3
  astronomer/providers/amazon/aws/xcom_backends/__init__.py
  astronomer/providers/amazon/aws/xcom_backends/s3.py
Due: none

Fix docstrings
  tests/amazon/aws/xcom_backends/test_s3.py
Due: none

add tests
  astronomer/providers/amazon/aws/xcom_backends/s3.py
  tests/amazon/aws/xcom_backends/__init__.py
  tests/amazon/aws/xcom_backends/test_s3.py
Due: none

use open to read and add more tests
  astronomer/providers/amazon/aws/xcom_backends/s3.py
  tests/amazon/aws/xcom_backends/test_s3.py
Due: none

Custom backend XCom S3 (#820)
  astronomer/providers/amazon/aws/xcom_backends/__init__.py
  astronomer/providers/amazon/aws/xcom_backends/s3.py
  tests/amazon/aws/xcom_backends/__init__.py
  tests/amazon/aws/xcom_backends/test_s3.py
Due: none

Bump runtime image to 7.1.0
  .circleci/integration-tests/Dockerfile.astro_cloud
  Makefile
Due: none

Bump runtime image to 7.1.0 (#827)
  .circleci/integration-tests/Dockerfile.astro_cloud
  Makefile
Due: none

Fix get log and xcom return value
  astronomer/providers/cncf/kubernetes/triggers/wait_container.py
  astronomer/providers/google/cloud/operators/kubernetes_engine.py
  astronomer/providers/google/cloud/triggers/kubernetes_engine.py
  tests/cncf/kubernetes/triggers/test_wait_container.py
  tests/google/cloud/operators/test_kubernetes_engine.py
  tests/google/cloud/triggers/test_kubernetes_engine.py
Due: none

Remove print
  astronomer/providers/google/cloud/operators/kubernetes_engine.py
  astronomer/providers/google/cloud/triggers/kubernetes_engine.py
Due: none

Add do_xcom attribute to `GKEStartPodOperatorAsync` class
  astronomer/providers/google/cloud/operators/kubernetes_engine.py
Due: none

Update setup.cfg with RC kubernetes provider package
  setup.cfg
Due: sync-all-extras-setup.cfg, sync-version-setup.cfg-docs-conf, changelog-update

Fix `get_logs`, `pod cleanup` and `XCom push` in ``GKEStartPodOperatorAsync`` (#824)
  astronomer/providers/cncf/kubernetes/triggers/wait_container.py
  astronomer/providers/google/cloud/operators/kubernetes_engine.py
  astronomer/providers/google/cloud/triggers/kubernetes_engine.py
  tests/cncf/kubernetes/triggers/test_wait_container.py
  tests/google/cloud/operators/test_kubernetes_engine.py
  tests/google/cloud/triggers/test_kubernetes_engine.py
Due: none

A cool comments
  astronomer/providers/google/cloud/triggers/dataproc.py
Due: none

Release 1.14.0
  CHANGELOG.rst
  astronomer/providers/package.py
  docs/conf.py
  setup.cfg
Due: sync-all-extras-setup.cfg, sync-version-setup.cfg-docs-conf, changelog-update

Fix review comment
  CHANGELOG.rst
Due: changelog-update

Release 1.14.0 (#831)
  CHANGELOG.rst
  astronomer/providers/package.py
  docs/conf.py
  setup.cfg
Due: sync-all-extras-setup.cfg, sync-version-setup.cfg-docs-conf, changelog-update

Bump version to 1.15.0.dev1
  astronomer/providers/package.py
  docs/conf.py
  setup.cfg
Due: sync-all-extras-setup.cfg, sync-version-setup.cfg-docs-conf, changelog-update

Bump version to 1.15.0.dev1 (#832)
  astronomer/providers/package.py
  docs/conf.py
  setup.cfg
Due: sync-all-extras-setup.cfg, sync-version-setup.cfg-docs-conf, changelog-update

Apache tests cleanup
  tests/apache/hive/hooks/test_hive.py
  tests/apache/hive/sensors/test_hive_partition.py
  tests/apache/hive/sensors/test_named_hive_partition.py
  tests/apache/hive/triggers/test_hive_partition.py
  tests/apache/hive/triggers/test_named_hive_partition.py
  tests/apache/livy/hooks/test_livy.py
  tests/apache/livy/operators/test_livy.py
  tests/apache/livy/triggers/test_livy.py
Due: none

Address review feedback
  tests/apache/hive/hooks/test_hive.py
Due: none

Address review feedback
  tests/apache/livy/hooks/test_livy.py
Due: none

Apache class based tests (#691)
  tests/apache/hive/hooks/test_hive.py
  tests/apache/hive/sensors/test_hive_partition.py
  tests/apache/hive/sensors/test_named_hive_partition.py
  tests/apache/hive/triggers/test_hive_partition.py
  tests/apache/hive/triggers/test_named_hive_partition.py
  tests/apache/livy/hooks/test_livy.py
  tests/apache/livy/operators/test_livy.py
  tests/apache/livy/triggers/test_livy.py
Due: none

Update Code Owners
  CODEOWNERS
Due: none

Update Code Owners (#834)
  CODEOWNERS
Due: none

Add DataprocLink to DataprocSubmitJobOperatorAsync
  astronomer/providers/google/cloud/operators/dataproc.py
  tests/google/cloud/operators/test_dataproc.py
Due: none
