Repository astronomer/astronomer-providers: changes, and which pre-commit hooks are due for each by the changed paths.
All: sync-all-extras-setup.cfg, sync-version-setup.cfg-docs-conf, sync-version-desc-setup.cfg-package, changelog-update, list-extras-readme

sync-all-extras-setup.cfg:
  name: Sync "all" extra in setup.cfg
  language: python
  pass_filenames: false
  entry: .circleci/scripts/pre_commit_setup_cfg_all_extra.py

sync-version-setup.cfg-docs-conf:
  name: Sync "version" of the package in setup.cfg and docs/conf.py
  language: python
  pass_filenames: false
  entry: .circleci/scripts/pre_commit_sync_version_docs.py

sync-version-desc-setup.cfg-package:
  name: Sync "version" & "description" of the package in setup.cfg and astronomer/providers/package.py
  language: python
  pass_filenames: false
  entry: .circleci/scripts/pre_commit_sync_version_desc_package.py

changelog-update:
  name: Verify changelog is updated when releasing a new version
  language: python
  pass_filenames: false
  entry: .circleci/scripts/pre_commit_changelog_upto_date.py
  additional_dependencies:
  - packaging

list-extras-readme:
  name: List all the extras in README.rst
  language: python
  pass_filenames: false
  entry: .circleci/scripts/pre_commit_readme_extra.py

Fix tests
  tests/microsoft/azure/hooks/test_wasb.py
Due: none

Fix tests (#1473)
  tests/microsoft/azure/hooks/test_wasb.py
Due: none

Add draft for deprecation notice
  README.rst
Due: list-extras-readme

Add deprecation notice (#1468)
  README.rst
Due: list-extras-readme

Updating setup.cfg with RC provider packages on https://github.com/apache/airflow/issues/37358
  setup.cfg
Due: sync-all-extras-setup.cfg, sync-version-setup.cfg-docs-conf, sync-version-desc-setup.cfg-package, changelog-update, list-extras-readme

Adjust args and example DAGs
  astronomer/providers/cncf/kubernetes/example_dags/example_kubernetes_pod_operator.py
  astronomer/providers/cncf/kubernetes/operators/kubernetes_pod.py
Due: none

Deprecate async SFTP sensor
  astronomer/providers/sftp/hooks/sftp.py
  astronomer/providers/sftp/sensors/sftp.py
  astronomer/providers/sftp/triggers/sftp.py
  setup.cfg
  tests/sftp/sensors/test_sftp.py
Due: sync-all-extras-setup.cfg, sync-version-setup.cfg-docs-conf, sync-version-desc-setup.cfg-package, changelog-update, list-extras-readme

Use SFTP 4.9.0rc1 for testing
  setup.cfg
Due: sync-all-extras-setup.cfg, sync-version-setup.cfg-docs-conf, sync-version-desc-setup.cfg-package, changelog-update, list-extras-readme

Apply suggestions from code review
  setup.cfg
Due: sync-all-extras-setup.cfg, sync-version-setup.cfg-docs-conf, sync-version-desc-setup.cfg-package, changelog-update, list-extras-readme

Deprecate async SFTP sensor (#1470)
  astronomer/providers/sftp/hooks/sftp.py
  astronomer/providers/sftp/sensors/sftp.py
  astronomer/providers/sftp/triggers/sftp.py
  setup.cfg
  tests/sftp/sensors/test_sftp.py
Due: sync-all-extras-setup.cfg, sync-version-setup.cfg-docs-conf, sync-version-desc-setup.cfg-package, changelog-update, list-extras-readme

Revert "Downgrade pendulum version (#1446)"
  .circleci/integration-tests/Dockerfile.astro_cloud
Due: none

Revert "Downgrade pendulum version (#1446)" (#1478)
  .circleci/integration-tests/Dockerfile.astro_cloud
Due: none

Updating setup.cfg with RC provider packages on https://github.com/apache/airflow/issues/37504
  setup.cfg
Due: sync-all-extras-setup.cfg, sync-version-setup.cfg-docs-conf, sync-version-desc-setup.cfg-package, changelog-update, list-extras-readme

feat(amazon): deprecate SagemakerTrainingWithLogTrigger
  astronomer/providers/amazon/aws/triggers/sagemaker.py
Due: none

test
  setup.cfg
Due: sync-all-extras-setup.cfg, sync-version-setup.cfg-docs-conf, sync-version-desc-setup.cfg-package, changelog-update, list-extras-readme

feat(amazon): deprecate SageMakerTrainingOperatorAsync
  astronomer/providers/amazon/aws/operators/sagemaker.py
  tests/amazon/aws/operators/test_sagemaker.py
Due: none

Use Amazon RC for testing
  setup.cfg
Due: sync-all-extras-setup.cfg, sync-version-setup.cfg-docs-conf, sync-version-desc-setup.cfg-package, changelog-update, list-extras-readme

build(setup.cfg): test rc2
  setup.cfg
Due: sync-all-extras-setup.cfg, sync-version-setup.cfg-docs-conf, sync-version-desc-setup.cfg-package, changelog-update, list-extras-readme

Update setup.cfg
  setup.cfg
Due: sync-all-extras-setup.cfg, sync-version-setup.cfg-docs-conf, sync-version-desc-setup.cfg-package, changelog-update, list-extras-readme

build(setup.cfg): upgrade minimum google version to 10.15.0
  setup.cfg
Due: sync-all-extras-setup.cfg, sync-version-setup.cfg-docs-conf, sync-version-desc-setup.cfg-package, changelog-update, list-extras-readme

feat(providers/google): deprecate GKEStartPodOperatorAsync
  astronomer/providers/cncf/kubernetes/hooks/kubernetes.py
  astronomer/providers/google/cloud/operators/kubernetes_engine.py
  astronomer/providers/google/cloud/triggers/kubernetes_engine.py
  tests/google/cloud/operators/test_kubernetes_engine.py
Due: none

feat(google): remove logging_interval depreaction
  astronomer/providers/google/cloud/operators/kubernetes_engine.py
Due: none

test(providers/google): improve coverage
  tests/google/cloud/operators/test_kubernetes_engine.py
Due: none

Use Google and CNCF-k8s RC for testing
  setup.cfg
Due: sync-all-extras-setup.cfg, sync-version-setup.cfg-docs-conf, sync-version-desc-setup.cfg-package, changelog-update, list-extras-readme

Deprecate hook and trigger
  astronomer/providers/cncf/kubernetes/hooks/kubernetes.py
  astronomer/providers/cncf/kubernetes/triggers/wait_container.py
  setup.cfg
  tests/cncf/kubernetes/operators/test_kubernetes_pod.py
Due: sync-all-extras-setup.cfg, sync-version-setup.cfg-docs-conf, sync-version-desc-setup.cfg-package, changelog-update, list-extras-readme

Deprecate SageMakerTrainingOperatorAsync (#1463)
  astronomer/providers/amazon/aws/operators/sagemaker.py
  astronomer/providers/amazon/aws/triggers/sagemaker.py
  setup.cfg
  tests/amazon/aws/operators/test_sagemaker.py
Due: sync-all-extras-setup.cfg, sync-version-setup.cfg-docs-conf, sync-version-desc-setup.cfg-package, changelog-update, list-extras-readme

deprecate GKEStartPodOperatorAsync (#1464)
  astronomer/providers/cncf/kubernetes/hooks/kubernetes.py
  astronomer/providers/google/cloud/operators/kubernetes_engine.py
  astronomer/providers/google/cloud/triggers/kubernetes_engine.py
  setup.cfg
  tests/google/cloud/operators/test_kubernetes_engine.py
Due: sync-all-extras-setup.cfg, sync-version-setup.cfg-docs-conf, sync-version-desc-setup.cfg-package, changelog-update, list-extras-readme

Correct module from kubernetes_pod to pod
  astronomer/providers/cncf/kubernetes/operators/kubernetes_pod.py
Due: none

deprecate KubernetesPodOperatorAsync (#1465)
  astronomer/providers/cncf/kubernetes/example_dags/example_kubernetes_pod_operator.py
  astronomer/providers/cncf/kubernetes/operators/kubernetes_pod.py
  astronomer/providers/cncf/kubernetes/triggers/wait_container.py
  tests/cncf/kubernetes/operators/test_kubernetes_pod.py
Due: none

build(setup.cfg): update amazon provider min version to 8.18.0
  setup.cfg
Due: sync-all-extras-setup.cfg, sync-version-setup.cfg-docs-conf, sync-version-desc-setup.cfg-package, changelog-update, list-extras-readme

build(setup.cfg): update amazon provider min version to 8.18.0 (#1481)
  setup.cfg
Due: sync-all-extras-setup.cfg, sync-version-setup.cfg-docs-conf, sync-version-desc-setup.cfg-package, changelog-update, list-extras-readme

Path conditions:
  sync-all-extras-setup.cfg: any of: ^setup.cfg$
  sync-version-setup.cfg-docs-conf: any of: ^setup.cfg$|^docs/conf.py$
  sync-version-desc-setup.cfg-package: any of: ^setup.cfg$|^astronomer/providers/package.py$
  changelog-update: any of: ^setup.cfg$|^CHANGELOG.rst$
  list-extras-readme: any of: ^setup.cfg$|^README.rst$
