Repository astronomer/astronomer-providers: changes, and which pre-commit hooks are due for each by the changed paths.
All: sync-all-extras-setup.cfg, sync-version-setup.cfg-docs-conf, changelog-update

sync-all-extras-setup.cfg:
  name: Sync "all" extra in setup.cfg
  language: python
  pass_filenames: false
  entry: .circleci/scripts/pre_commit_setup_cfg_all_extra.py

sync-version-setup.cfg-docs-conf:
  name: Sync "version" of the package in setup.cfg and docs/conf.py
  language: python
  pass_filenames: false
  entry: .circleci/scripts/pre_commit_sync_version_docs.py

changelog-update:
  name: Verify changelog is updated when releasing a new version
  language: python
  pass_filenames: false
  entry: .circleci/scripts/pre_commit_changelog_upto_date.py
  additional_dependencies:
  - packaging

Install new version of dependencies in Integration tests
  .circleci/integration-tests/Dockerfile.astro_cloud
Due: none

Generate constraints for airflow-2-5-2
  .circleci/config.yml
Due: none

Install new version of dependencies in Integration tests (#929)
  .circleci/integration-tests/Dockerfile.astro_cloud
Due: none

Generate constraints for airflow-2-5-2 (#930)
  .circleci/config.yml
Due: none

Fix mypy
  astronomer/providers/snowflake/hooks/snowflake.py
Due: none

Fix mypy (#931)
  astronomer/providers/snowflake/hooks/snowflake.py
Due: none

Fix unclosed connection
  astronomer/providers/http/hooks/http.py
Due: none

Close HTTP session
  astronomer/providers/http/hooks/http.py
Due: none

Fix HttpTrigger throws unclosed connection error (#927)
  astronomer/providers/http/hooks/http.py
Due: none

Release 1.15.2
  CHANGELOG.rst
  astronomer/providers/package.py
  docs/conf.py
  setup.cfg
Due: sync-all-extras-setup.cfg, sync-version-setup.cfg-docs-conf, changelog-update

Update CHANGELOG.rst
  CHANGELOG.rst
Due: changelog-update

Release 1.15.2 (#932)
  CHANGELOG.rst
  astronomer/providers/package.py
  docs/conf.py
  setup.cfg
Due: sync-all-extras-setup.cfg, sync-version-setup.cfg-docs-conf, changelog-update

Bump version to 1.16.0.dev1
  astronomer/providers/package.py
  docs/conf.py
  setup.cfg
Due: sync-all-extras-setup.cfg, sync-version-setup.cfg-docs-conf, changelog-update

Bump version to 1.16.0.dev1 (#933)
  astronomer/providers/package.py
  docs/conf.py
  setup.cfg
Due: sync-all-extras-setup.cfg, sync-version-setup.cfg-docs-conf, changelog-update

Add max attempts
  astronomer/providers/amazon/aws/example_dags/example_redshift_cluster_management.py
Due: none

Add max attempts to `Redshift` example DAG(#935)
  astronomer/providers/amazon/aws/example_dags/example_redshift_cluster_management.py
Due: none

Removed task_id and updated description for DagStateTrigger
  astronomer/providers/core/triggers/external_task.py
Due: none

Removed task_id and updated description for DagStateTrigger (#936)
  astronomer/providers/core/triggers/external_task.py
Due: none

Fix redshift delete cluster when cluster not exist
  astronomer/providers/amazon/aws/hooks/redshift_cluster.py
Due: none

Add tests
  tests/amazon/aws/hooks/test_redshift_cluster.py
Due: none

Fix redshift delete cluster when cluster not exist (#937)
  astronomer/providers/amazon/aws/hooks/redshift_cluster.py
  tests/amazon/aws/hooks/test_redshift_cluster.py
Due: none

Bump runtime and airflow version
  .circleci/config.yml
  .circleci/integration-tests/Dockerfile.astro_cloud
  Makefile
Due: none

Run tests for rc
  setup.cfg
Due: sync-all-extras-setup.cfg, sync-version-setup.cfg-docs-conf, changelog-update

Bump runtime and airflow version (#939)
  .circleci/config.yml
  .circleci/integration-tests/Dockerfile.astro_cloud
  Makefile
Due: none

Support retrieving extra fields which do not have extra prefix set
  astronomer/providers/cncf/kubernetes/hooks/kubernetes.py
  tests/cncf/kubernetes/hooks/test_kubernetes.py
Due: none

Fix tests
  astronomer/providers/cncf/kubernetes/hooks/kubernetes.py
Due: none

Support retrieving extra fields which do not have extra prefix set (#944)
  astronomer/providers/cncf/kubernetes/hooks/kubernetes.py
  tests/cncf/kubernetes/hooks/test_kubernetes.py
Due: none

Fix mypy
  astronomer/providers/amazon/aws/operators/redshift_cluster.py
  astronomer/providers/amazon/aws/triggers/redshift_cluster.py
  astronomer/providers/google/cloud/sensors/bigquery.py
  astronomer/providers/google/cloud/sensors/gcs.py
Due: none

Fix mypy
  astronomer/providers/amazon/aws/triggers/redshift_cluster.py
Due: none

Removed protobuf dependency
  setup.cfg
Due: sync-all-extras-setup.cfg, sync-version-setup.cfg-docs-conf, changelog-update

Remove upper bound
  astronomer/providers/databricks/operators/new.py
  setup.cfg
Due: sync-all-extras-setup.cfg, sync-version-setup.cfg-docs-conf, changelog-update

Fix mypy failures observed and tested in PR #940
  astronomer/providers/amazon/aws/operators/redshift_cluster.py
  astronomer/providers/google/cloud/sensors/bigquery.py
  astronomer/providers/google/cloud/sensors/gcs.py
Due: none

Fix mypy failures observed and tested in PR #940 (#951)
  astronomer/providers/amazon/aws/operators/redshift_cluster.py
  astronomer/providers/google/cloud/sensors/bigquery.py
  astronomer/providers/google/cloud/sensors/gcs.py
Due: none

Set TriggerDagRunOperator's trigger_rule to all_done in master_dag
  .circleci/integration-tests/master_dag.py
  .pre-commit-config.yaml
Due: none

Set TriggerDagRunOperator's trigger_rule to all_done in master_dag (#950)
  .circleci/integration-tests/master_dag.py
  .pre-commit-config.yaml
Due: none

Add poll_interval in bq trigger
  astronomer/providers/google/cloud/operators/bigquery.py
Due: none

Path conditions:
  sync-all-extras-setup.cfg: any of: ^setup.cfg$
  sync-version-setup.cfg-docs-conf: any of: ^setup.cfg$|^docs/conf.py$
  changelog-update: any of: ^setup.cfg$|^CHANGELOG.rst$
