Repository astronomer/astronomer-providers: changes, and which pre-commit hooks are due for each by the changed paths.
All: sync-all-extras-setup.cfg, sync-version-setup.cfg-docs-conf, changelog-update

sync-all-extras-setup.cfg:
  name: Sync "all" extra in setup.cfg
  language: python
  pass_filenames: false
  entry: .circleci/scripts/pre_commit_setup_cfg_all_extra.py

sync-version-setup.cfg-docs-conf:
  name: Sync "version" of the package in setup.cfg and docs/conf.py
  language: python
  pass_filenames: false
  entry: .circleci/scripts/pre_commit_sync_version_docs.py

changelog-update:
  name: Verify changelog is updated when releasing a new version
  language: python
  pass_filenames: false
  entry: .circleci/scripts/pre_commit_changelog_upto_date.py
  additional_dependencies:
  - packaging

Add microsoft class based tests (#853)
  tests/microsoft/azure/hooks/test_data_factory.py
  tests/microsoft/azure/hooks/test_wasb.py
  tests/microsoft/azure/operators/test_data_factory.py
  tests/microsoft/azure/sensors/test_data_factory.py
  tests/microsoft/azure/sensors/test_wasb.py
  tests/microsoft/azure/triggers/test_data_factory.py
  tests/microsoft/azure/triggers/test_wasb.py
Due: none

google class based tests
  tests/google/cloud/extractors/test_bigquery.py
  tests/google/cloud/hooks/test_bigquery.py
  tests/google/cloud/hooks/test_dataproc.py
  tests/google/cloud/hooks/test_gcs.py
  tests/google/cloud/operators/test_bigquery.py
  tests/google/cloud/operators/test_dataproc.py
  tests/google/cloud/operators/test_kubernetes_engine.py
  tests/google/cloud/sensors/test_bigquery.py
  tests/google/cloud/sensors/test_gcs.py
  tests/google/cloud/triggers/test_bigquery.py
  tests/google/cloud/triggers/test_dataproc.py
  tests/google/cloud/triggers/test_gcs.py
  tests/google/cloud/triggers/test_kubernetes_engine.py
  tests/google/cloud/xcom_backends/test_gcs.py
  tests/utils/airflow_util.py
Due: none

google class based tests (#854)
  tests/google/cloud/extractors/test_bigquery.py
  tests/google/cloud/hooks/test_bigquery.py
  tests/google/cloud/hooks/test_dataproc.py
  tests/google/cloud/hooks/test_gcs.py
  tests/google/cloud/operators/test_bigquery.py
  tests/google/cloud/operators/test_dataproc.py
  tests/google/cloud/operators/test_kubernetes_engine.py
  tests/google/cloud/sensors/test_bigquery.py
  tests/google/cloud/sensors/test_gcs.py
  tests/google/cloud/triggers/test_bigquery.py
  tests/google/cloud/triggers/test_dataproc.py
  tests/google/cloud/triggers/test_gcs.py
  tests/google/cloud/triggers/test_kubernetes_engine.py
  tests/google/cloud/xcom_backends/test_gcs.py
  tests/utils/airflow_util.py
Due: none

Use entire tenant domain name in dbt Cloud connection (#855)
  astronomer/providers/dbt/cloud/hooks/dbt.py
  tests/dbt/cloud/hooks/test_dbt_hooks.py
Due: none

jobs API
  astronomer/providers/databricks/operators/databricks.py
  astronomer/providers/databricks/operators/notebook.py
  astronomer/providers/databricks/task_group/workflow_taskgroup.py
  tests/databricks/taskgroup/test_workflow_taskgroup.py
Due: none

jobs API
  astronomer/providers/databricks/operators/notebook.py
  astronomer/providers/databricks/task_group/workflow_taskgroup.py
  tests/databricks/taskgroup/test_workflow_taskgroup.py
Due: none

use_timeout
  astronomer/providers/core/sensors/external_task.py
Due: none

Use `timeout` instead of `execution_timeout` with `ExternalTaskSensor`(#858)
  astronomer/providers/core/sensors/external_task.py
Due: none

We now have a working test against the jobs API
  astronomer/providers/databricks/operators/notebook.py
  astronomer/providers/databricks/task_group/workflow_taskgroup.py
  tests/databricks/taskgroup/test_workflow_taskgroup.py
Due: none

@kaxil comments
  astronomer/providers/databricks/task_group/workflow.py
  tests/databricks/taskgroup/test_workflow.py
Due: none

fix typing
  astronomer/providers/databricks/operators/notebook.py
Due: none

fix tests
  tests/databricks/taskgroup/test_workflow.py
Due: none

add docs
  astronomer/providers/databricks/operators/notebook.py
Due: none

add more docs
  astronomer/providers/databricks/operators/notebook.py
  astronomer/providers/databricks/task_group/workflow.py
Due: none

Add an example DAG for using notebooks and workflows
  astronomer/providers/databricks/example_dags/example_databricks_workflow.py
Due: none

Add documentation to databricks worfklows
  astronomer/providers/databricks/example_dags/example_databricks_workflow.py
  docs/providers/databricks/operators/workflow.rst
Due: none

adding hook parameters
  astronomer/providers/google/cloud/operators/bigquery.py
Due: none

removing use_legacy_sql param
  astronomer/providers/google/cloud/operators/bigquery.py
Due: none

removing hanging comma
  astronomer/providers/google/cloud/operators/bigquery.py
Due: none

pin mypy version <1.0.0
  setup.cfg
Due: sync-all-extras-setup.cfg, sync-version-setup.cfg-docs-conf, changelog-update

pin mypy version <1.0.0 (#867)
  setup.cfg
Due: sync-all-extras-setup.cfg, sync-version-setup.cfg-docs-conf, changelog-update

Gen constraint
  .circleci/config.yml
Due: none

Update setup.cfg to use RC provider packages
  setup.cfg
Due: sync-all-extras-setup.cfg, sync-version-setup.cfg-docs-conf, changelog-update

Fix mypy issues
  astronomer/providers/cncf/kubernetes/operators/kubernetes_pod.py
  astronomer/providers/dbt/cloud/operators/dbt.py
  astronomer/providers/google/cloud/operators/dataproc.py
  astronomer/providers/google/cloud/operators/kubernetes_engine.py
Due: none

Gen constraint (#869)
  .circleci/config.yml
Due: none

Remove duplicate cmd
  .circleci/config.yml
Due: none

Fix mypy after new Providers release
  astronomer/providers/cncf/kubernetes/operators/kubernetes_pod.py
  astronomer/providers/dbt/cloud/operators/dbt.py
  astronomer/providers/google/cloud/operators/dataproc.py
  astronomer/providers/google/cloud/operators/kubernetes_engine.py
Due: none

Fix review comment
  astronomer/providers/google/cloud/operators/dataproc.py
Due: none

Fix mypy issues (#876)
  astronomer/providers/cncf/kubernetes/operators/kubernetes_pod.py
  astronomer/providers/dbt/cloud/operators/dbt.py
  astronomer/providers/google/cloud/operators/dataproc.py
  astronomer/providers/google/cloud/operators/kubernetes_engine.py
Due: none

Release 1.15.0
  CHANGELOG.rst
  astronomer/providers/package.py
  docs/conf.py
  setup.cfg
Due: sync-all-extras-setup.cfg, sync-version-setup.cfg-docs-conf, changelog-update

Fix review comment
  CHANGELOG.rst
Due: changelog-update

Release 1.15.0 (#877)
  CHANGELOG.rst
  astronomer/providers/package.py
  docs/conf.py
  setup.cfg
Due: sync-all-extras-setup.cfg, sync-version-setup.cfg-docs-conf, changelog-update

Bump version to 1.15.0.dev1
  astronomer/providers/package.py
  docs/conf.py
  setup.cfg
Due: sync-all-extras-setup.cfg, sync-version-setup.cfg-docs-conf, changelog-update

Bump version to 1.15.0.dev1 (#879)
  astronomer/providers/package.py
  docs/conf.py
  setup.cfg
Due: sync-all-extras-setup.cfg, sync-version-setup.cfg-docs-conf, changelog-update

Bump astro-runtime 7.3.0 version
  .circleci/integration-tests/Dockerfile.astro_cloud
  Makefile
Due: none

Bump astro-runtime 7.3.0 version (#880)
  .circleci/integration-tests/Dockerfile.astro_cloud
  Makefile
Due: none

Path conditions:
  sync-all-extras-setup.cfg: any of: ^setup.cfg$
  sync-version-setup.cfg-docs-conf: any of: ^setup.cfg$|^docs/conf.py$
  changelog-update: any of: ^setup.cfg$|^CHANGELOG.rst$
