Repository astronomer/astronomer-providers: changes, and which pre-commit hooks are due for each by the changed paths.
All: sync-all-extras-setup.cfg, sync-version-setup.cfg-docs-conf, changelog-update

sync-all-extras-setup.cfg:
  name: Sync "all" extra in setup.cfg
  language: python
  pass_filenames: false
  entry: .circleci/scripts/pre_commit_setup_cfg_all_extra.py

sync-version-setup.cfg-docs-conf:
  name: Sync "version" of the package in setup.cfg and docs/conf.py
  language: python
  pass_filenames: false
  entry: .circleci/scripts/pre_commit_sync_version_docs.py

changelog-update:
  name: Verify changelog is updated when releasing a new version
  language: python
  pass_filenames: false
  entry: .circleci/scripts/pre_commit_changelog_upto_date.py
  additional_dependencies:
  - packaging

Address @pankajastro 's comments
  astronomer/providers/amazon/aws/hooks/redshift_data.py
  astronomer/providers/amazon/aws/operators/redshift_data.py
  astronomer/providers/amazon/aws/triggers/redshift_data.py
  tests/amazon/aws/operators/test_redshift_data.py
  tests/amazon/aws/triggers/test_redshift_data.py
Due: none

Fix BigQueryInsertJobOperatorAsync bug
  astronomer/providers/google/cloud/operators/bigquery.py
  tests/google/cloud/extractors/test_bigquery_async_extractor.py
  tests/google/cloud/operators/test_bigquery.py
Due: none

Remove unused line
  tests/google/cloud/operators/test_bigquery.py
Due: none

fix mypy
  astronomer/providers/google/cloud/operators/bigquery.py
Due: none

Fix test case
  tests/google/cloud/operators/test_bigquery.py
Due: none

Update version for google provider
  setup.cfg
Due: sync-all-extras-setup.cfg, sync-version-setup.cfg-docs-conf, changelog-update

Add test case for generate_job_id
  astronomer/providers/google/cloud/operators/bigquery.py
  tests/google/cloud/operators/test_bigquery.py
Due: none

Implement RedshiftDataOperatorAsync (#467)
  .circleci/integration-tests/master_dag.py
  Makefile
  astronomer/providers/amazon/aws/example_dags/example_redshift_data.py
  astronomer/providers/amazon/aws/hooks/redshift_data.py
  astronomer/providers/amazon/aws/operators/redshift_data.py
  astronomer/providers/amazon/aws/triggers/redshift_data.py
  tests/amazon/aws/hooks/test_redshift_data.py
  tests/amazon/aws/hooks/test_redshift_sql.py
  tests/amazon/aws/operators/test_redshift_data.py
  tests/amazon/aws/triggers/test_redshift_data.py
Due: none

Fix `BigQueryInsertJobOperatorAsync` failure after the google provider upgrade (#471)
  astronomer/providers/google/cloud/operators/bigquery.py
  setup.cfg
  tests/google/cloud/extractors/test_bigquery_async_extractor.py
  tests/google/cloud/operators/test_bigquery.py
Due: sync-all-extras-setup.cfg, sync-version-setup.cfg-docs-conf, changelog-update

Ignore coverage
  astronomer/providers/amazon/aws/hooks/base_aws.py
Due: none

Deprecate base_aws_async.py and kubenetes_async.py
  astronomer/providers/amazon/aws/hooks/base_aws_async.py
  astronomer/providers/cncf/kubernetes/hooks/kubernetes_async.py
  tests/amazon/aws/hooks/test_aws_base_async.py
  tests/cncf/kubernetes/hooks/test_kubernetes.py
  tests/cncf/kubernetes/hooks/test_kubernetes_async.py
Due: none

Fix doc
  astronomer/providers/amazon/aws/hooks/base_aws.py
Due: none

Fix doc
  astronomer/providers/amazon/aws/hooks/base_aws.py
  setup.cfg
Due: sync-all-extras-setup.cfg, sync-version-setup.cfg-docs-conf, changelog-update

Add test
  tests/cncf/kubernetes/hooks/test_kubernetes.py
Due: none

Fix: the file filename consistency for repo
  astronomer/providers/amazon/aws/hooks/base_aws.py
  astronomer/providers/amazon/aws/hooks/batch_client.py
  astronomer/providers/amazon/aws/hooks/emr.py
  astronomer/providers/amazon/aws/hooks/redshift_cluster.py
  astronomer/providers/amazon/aws/hooks/s3.py
  astronomer/providers/cncf/kubernetes/hooks/kubernetes.py
  astronomer/providers/cncf/kubernetes/triggers/wait_container.py
  astronomer/providers/google/cloud/extractors/bigquery.py
  astronomer/providers/google/cloud/triggers/kubernetes_engine.py
  astronomer/providers/snowflake/extractors/snowflake.py
  tests/amazon/aws/hooks/test_s3_hooks.py
  tests/apache/livy/operators/test_livy.py
  tests/apache/livy/triggers/test_livy.py
  tests/cncf/kubernetes/hooks/test_kubernetes.py
  tests/google/cloud/extractors/test_bigquery.py
  tests/google/cloud/triggers/test_kubernetes_engine.py
  tests/snowflake/extractors/test_snowflake.py
  tests/snowflake/hooks/test_snowflake.py
  tests/snowflake/operators/test_snowflake.py
Due: none

Move gcp installation cmd from dev docker to google_cloud
  Makefile
  dev/Dockerfile.google_cloud
Due: none

Disable kubernetes_engine in master dag
  .circleci/integration-tests/master_dag.py
Due: none

Remove google-cloud installation cmd from dev docker
  Makefile
  dev/Dockerfile
Due: none

Disable GKEStartPod Integration Test (#475)
  .circleci/integration-tests/master_dag.py
  Makefile
  dev/Dockerfile
  dev/Dockerfile.google_cloud
Due: none

Keep Python filename consistent across the repo (#464)
  astronomer/providers/amazon/aws/hooks/base_aws.py
  astronomer/providers/amazon/aws/hooks/base_aws_async.py
  astronomer/providers/amazon/aws/hooks/batch_client.py
  astronomer/providers/amazon/aws/hooks/emr.py
  astronomer/providers/amazon/aws/hooks/redshift_cluster.py
  astronomer/providers/amazon/aws/hooks/s3.py
  astronomer/providers/cncf/kubernetes/hooks/kubernetes.py
  astronomer/providers/cncf/kubernetes/hooks/kubernetes_async.py
  astronomer/providers/cncf/kubernetes/triggers/wait_container.py
  astronomer/providers/google/cloud/extractors/bigquery.py
  astronomer/providers/google/cloud/triggers/kubernetes_engine.py
  astronomer/providers/snowflake/extractors/snowflake.py
  setup.cfg
  tests/amazon/aws/hooks/test_aws_base_async.py
  tests/amazon/aws/hooks/test_s3_hooks.py
  tests/apache/livy/operators/test_livy.py
  tests/apache/livy/triggers/test_livy.py
  tests/cncf/kubernetes/hooks/test_kubernetes.py
  tests/cncf/kubernetes/hooks/test_kubernetes_async.py
  tests/google/cloud/extractors/test_bigquery.py
  tests/google/cloud/triggers/test_kubernetes_engine.py
  tests/snowflake/extractors/test_snowflake.py
  tests/snowflake/hooks/test_snowflake.py
  tests/snowflake/operators/test_snowflake.py
Due: sync-all-extras-setup.cfg, sync-version-setup.cfg-docs-conf, changelog-update

Bug Fix emr-eks create cluster
  astronomer/providers/amazon/aws/example_dags/example_emr_eks_containers_job.py
Due: none

Add pre step to delete EMR, EKS
  astronomer/providers/amazon/aws/example_dags/example_emr_eks_containers_job.py
Due: none

Release 1.6.0
  CHANGELOG.rst
  docs/conf.py
  setup.cfg
Due: sync-all-extras-setup.cfg, sync-version-setup.cfg-docs-conf, changelog-update

Apply review suggestions
  CHANGELOG.rst
Due: changelog-update

Release 1.6.0 (#480)
  CHANGELOG.rst
  docs/conf.py
  setup.cfg
Due: sync-all-extras-setup.cfg, sync-version-setup.cfg-docs-conf, changelog-update

Bump version to 1.7.0.dev1
  docs/conf.py
  setup.cfg
Due: sync-all-extras-setup.cfg, sync-version-setup.cfg-docs-conf, changelog-update

Bump version to 1.7.0.dev1 (#481)
  docs/conf.py
  setup.cfg
Due: sync-all-extras-setup.cfg, sync-version-setup.cfg-docs-conf, changelog-update

Implement Azure WasbBlobSensorAsync and WasbPrefixSensorAsync
  .circleci/integration-tests/master_dag.py
  astronomer/providers/microsoft/azure/example_dags/example_azure_test_file.txt
  astronomer/providers/microsoft/azure/example_dags/example_wasb_sensors.py
  astronomer/providers/microsoft/azure/hooks/wasb.py
  astronomer/providers/microsoft/azure/sensors/wasb.py
  astronomer/providers/microsoft/azure/triggers/wasb.py
Due: none

Fix mypy issues
  astronomer/providers/microsoft/azure/example_dags/example_wasb_sensors.py
  astronomer/providers/microsoft/azure/hooks/wasb.py
Due: none

Address review comments from Bharani
  astronomer/providers/microsoft/azure/hooks/wasb.py
  astronomer/providers/microsoft/azure/sensors/wasb.py
Due: none

Implement unit tests
  tests/microsoft/azure/hooks/test_wasb.py
  tests/microsoft/azure/sensors/test_wasb.py
  tests/microsoft/azure/triggers/test_wasb.py
Due: none

Address @phanikumv's review comments
  astronomer/providers/microsoft/azure/example_dags/example_wasb_sensors.py
  astronomer/providers/microsoft/azure/hooks/wasb.py
  astronomer/providers/microsoft/azure/sensors/wasb.py
  astronomer/providers/microsoft/azure/triggers/wasb.py
  tests/microsoft/azure/hooks/test_wasb.py
  tests/microsoft/azure/sensors/test_wasb.py
Due: none

Set end as downstream for tasks
  astronomer/providers/microsoft/azure/example_dags/example_wasb_sensors.py
Due: none

Path conditions:
  sync-all-extras-setup.cfg: any of: ^setup.cfg$
  sync-version-setup.cfg-docs-conf: any of: ^setup.cfg$|^docs/conf.py$
  changelog-update: any of: ^setup.cfg$|^CHANGELOG.rst$
