Repository astronomer/astronomer-providers: changes, and which pre-commit hooks are due for each by the changed paths.
All: sync-all-extras-setup.cfg, sync-version-setup.cfg-docs-conf, changelog-update

sync-all-extras-setup.cfg:
  name: Sync "all" extra in setup.cfg
  language: python
  pass_filenames: false
  entry: .circleci/scripts/pre_commit_setup_cfg_all_extra.py

sync-version-setup.cfg-docs-conf:
  name: Sync "version" of the package in setup.cfg and docs/conf.py
  language: python
  pass_filenames: false
  entry: .circleci/scripts/pre_commit_sync_version_docs.py

changelog-update:
  name: Verify changelog is updated when releasing a new version
  language: python
  pass_filenames: false
  entry: .circleci/scripts/pre_commit_changelog_upto_date.py
  additional_dependencies:
  - packaging

Fix code coverage
  astronomer/providers/amazon/aws/operators/redshift_sql.py
  astronomer/providers/snowflake/operators/snowflake.py
Due: none

Add comment
  astronomer/providers/amazon/aws/operators/redshift_sql.py
  astronomer/providers/snowflake/operators/snowflake.py
Due: none

Fix inline comment
  astronomer/providers/amazon/aws/operators/redshift_sql.py
  astronomer/providers/snowflake/operators/snowflake.py
Due: none

Fix snowflake and redshift operator failures (#762)
  astronomer/providers/amazon/aws/operators/redshift_sql.py
  astronomer/providers/snowflake/operators/snowflake.py
Due: none

Add Attribute to snowflake API async operator
  astronomer/providers/snowflake/operators/snowflake.py
Due: none

Add Attribute to snowflake API async operator (#764)
  astronomer/providers/snowflake/operators/snowflake.py
Due: none

Update RCs to test new deps
  setup.cfg
Due: sync-all-extras-setup.cfg, sync-version-setup.cfg-docs-conf, changelog-update

Release 1.11.2
  CHANGELOG.rst
  astronomer/providers/package.py
  docs/conf.py
  setup.cfg
Due: sync-all-extras-setup.cfg, sync-version-setup.cfg-docs-conf, changelog-update

Set auto commit to true by default
  astronomer/providers/snowflake/operators/snowflake.py
Due: none

Set auto commit to true by default in `SnowflakeOperatorAsync` (#766)
  astronomer/providers/snowflake/operators/snowflake.py
Due: none

Add auto-commit true in snowflake hook
  astronomer/providers/snowflake/hooks/snowflake.py
  astronomer/providers/snowflake/operators/snowflake.py
Due: none

Add auto-commit true in snowflake hook (#767)
  astronomer/providers/snowflake/hooks/snowflake.py
  astronomer/providers/snowflake/operators/snowflake.py
Due: none

Change date and doc string change
  CHANGELOG.rst
Due: changelog-update

Update correct PR link
  CHANGELOG.rst
Due: changelog-update

Release 1.11.2 (#765)
  CHANGELOG.rst
  astronomer/providers/package.py
  docs/conf.py
  setup.cfg
Due: sync-all-extras-setup.cfg, sync-version-setup.cfg-docs-conf, changelog-update

Fix mypy
  astronomer/providers/amazon/aws/operators/redshift_sql.py
  astronomer/providers/google/cloud/hooks/bigquery.py
  astronomer/providers/microsoft/azure/hooks/wasb.py
  astronomer/providers/snowflake/operators/snowflake.py
Due: none

fix more mypy issues
  astronomer/providers/google/cloud/hooks/bigquery.py
  astronomer/providers/microsoft/azure/hooks/wasb.py
  astronomer/providers/microsoft/azure/triggers/wasb.py
Due: none

Fix mypy and revert changes of def name
  astronomer/providers/microsoft/azure/hooks/wasb.py
  astronomer/providers/microsoft/azure/triggers/wasb.py
Due: none

Revert "Release 1.11.2 (#765)"
  CHANGELOG.rst
  astronomer/providers/package.py
  docs/conf.py
  setup.cfg
Due: sync-all-extras-setup.cfg, sync-version-setup.cfg-docs-conf, changelog-update

Revert "Release 1.11.2 (#765)" (#769)
  CHANGELOG.rst
  astronomer/providers/package.py
  docs/conf.py
  setup.cfg
Due: sync-all-extras-setup.cfg, sync-version-setup.cfg-docs-conf, changelog-update

Update setup.cfg to pick new provider version
  setup.cfg
Due: sync-all-extras-setup.cfg, sync-version-setup.cfg-docs-conf, changelog-update

Revert setup.cfg changes to run mypy
  setup.cfg
Due: sync-all-extras-setup.cfg, sync-version-setup.cfg-docs-conf, changelog-update

Fix code coverage
  astronomer/providers/google/cloud/hooks/bigquery.py
Due: none

Update setup since mypy is taking old version of provider
  setup.cfg
Due: sync-all-extras-setup.cfg, sync-version-setup.cfg-docs-conf, changelog-update

Fix mypy issues caused due to OSS airflow provider release (#770)
  astronomer/providers/amazon/aws/operators/redshift_sql.py
  astronomer/providers/google/cloud/hooks/bigquery.py
  astronomer/providers/microsoft/azure/hooks/wasb.py
  astronomer/providers/microsoft/azure/triggers/wasb.py
  astronomer/providers/snowflake/operators/snowflake.py
  setup.cfg
Due: sync-all-extras-setup.cfg, sync-version-setup.cfg-docs-conf, changelog-update

Release 1.11.2 (#771)
  CHANGELOG.rst
  astronomer/providers/package.py
  docs/conf.py
  setup.cfg
Due: sync-all-extras-setup.cfg, sync-version-setup.cfg-docs-conf, changelog-update

Bump version to 1.12.0.dev1
  astronomer/providers/package.py
  docs/conf.py
  setup.cfg
Due: sync-all-extras-setup.cfg, sync-version-setup.cfg-docs-conf, changelog-update

Bump version to 1.12.0.dev1 (#772)
  astronomer/providers/package.py
  docs/conf.py
  setup.cfg
Due: sync-all-extras-setup.cfg, sync-version-setup.cfg-docs-conf, changelog-update

Remove mypy return value ignore
  astronomer/providers/microsoft/azure/hooks/wasb.py
Due: none

Remove mypy ignore
  astronomer/providers/microsoft/azure/hooks/wasb.py
Due: none

Fix tests
  tests/microsoft/azure/hooks/test_wasb.py
Due: none

Fix trigger tests
  astronomer/providers/microsoft/azure/triggers/wasb.py
  tests/microsoft/azure/triggers/test_wasb.py
Due: none

Remove unused mypy ignore
  astronomer/providers/microsoft/azure/triggers/wasb.py
Due: none

Fix Aws base async hook on connection details (#758)
  astronomer/providers/amazon/aws/hooks/base_aws.py
Due: none

Remove mypy ignore specification in `WasbHookAsync` (#777)
  astronomer/providers/microsoft/azure/hooks/wasb.py
  astronomer/providers/microsoft/azure/triggers/wasb.py
  tests/microsoft/azure/hooks/test_wasb.py
  tests/microsoft/azure/triggers/test_wasb.py
Due: none

Path conditions:
  sync-all-extras-setup.cfg: any of: ^setup.cfg$
  sync-version-setup.cfg-docs-conf: any of: ^setup.cfg$|^docs/conf.py$
  changelog-update: any of: ^setup.cfg$|^CHANGELOG.rst$
