Repository astronomer/astronomer-providers: changes, and which pre-commit hooks are due for each by the changed paths.
All: sync-all-extras-setup.cfg, sync-version-setup.cfg-docs-conf, sync-version-desc-setup.cfg-package, changelog-update, list-extras-readme

Path conditions:
  sync-all-extras-setup.cfg: any of: ^setup.cfg$
  sync-version-setup.cfg-docs-conf: any of: ^setup.cfg$|^docs/conf.py$
  sync-version-desc-setup.cfg-package: any of: ^setup.cfg$|^astronomer/providers/package.py$
  changelog-update: any of: ^setup.cfg$|^CHANGELOG.rst$
  list-extras-readme: any of: ^setup.cfg$|^README.rst$

Fix docs
  astronomer/providers/google/cloud/operators/bigquery.py
Due: none

Pass poll_interval in bq trigger (#953)
  astronomer/providers/google/cloud/operators/bigquery.py
Due: none

fix(google): add back removed utility function get_gke_config_file
  astronomer/providers/google/cloud/__init__.py
  astronomer/providers/google/cloud/operators/kubernetes_engine.py
  astronomer/providers/google/cloud/triggers/kubernetes_engine.py
  tests/google/cloud/operators/test_kubernetes_engine.py
  tests/google/cloud/triggers/test_kubernetes_engine.py
Due: none

skip tests
  astronomer/providers/google/cloud/__init__.py
Due: none

fix(google): add back removed utility function get_gke_config_file (#954)
  astronomer/providers/google/cloud/__init__.py
  astronomer/providers/google/cloud/operators/kubernetes_engine.py
  astronomer/providers/google/cloud/triggers/kubernetes_engine.py
  tests/google/cloud/operators/test_kubernetes_engine.py
  tests/google/cloud/triggers/test_kubernetes_engine.py
Due: none

Release 1.15.2
  CHANGELOG.rst
  astronomer/providers/package.py
  docs/conf.py
  setup.cfg
Due: sync-all-extras-setup.cfg, sync-version-setup.cfg-docs-conf, sync-version-desc-setup.cfg-package, changelog-update, list-extras-readme

Fix review comment
  CHANGELOG.rst
Due: changelog-update

Increase Redshift Snapshot max attempt
  astronomer/providers/amazon/aws/example_dags/example_redshift_cluster_management.py
Due: none

Increase Redshift Snapshot max attempt (#960)
  astronomer/providers/amazon/aws/example_dags/example_redshift_cluster_management.py
Due: none

Fix read of Pandas json for S3 and GCS custom XCOM backend
  astronomer/providers/amazon/aws/xcom_backends/s3.py
  astronomer/providers/google/cloud/xcom_backends/gcs.py
  dev/docker-compose.yaml
Due: none

Fix mypy failure by doing early return
  astronomer/providers/amazon/aws/xcom_backends/s3.py
  astronomer/providers/google/cloud/xcom_backends/gcs.py
Due: none

Parameterize tests to test bytes dataframe output
  tests/amazon/aws/xcom_backends/test_s3.py
  tests/google/cloud/xcom_backends/test_gcs.py
Due: none

Fix read of Pandas json for S3 and GCS custom XCOM backend (#961)
  astronomer/providers/amazon/aws/xcom_backends/s3.py
  astronomer/providers/google/cloud/xcom_backends/gcs.py
  dev/docker-compose.yaml
  tests/amazon/aws/xcom_backends/test_s3.py
  tests/google/cloud/xcom_backends/test_gcs.py
Due: none

build(setup.cfg): pinning snowflake-sqlalchemy to greater than or eqaul to 1.4.4
  setup.cfg
Due: sync-all-extras-setup.cfg, sync-version-setup.cfg-docs-conf, sync-version-desc-setup.cfg-package, changelog-update, list-extras-readme

build(setup.cfg): sort all extras in alphebetic order
  setup.cfg
Due: sync-all-extras-setup.cfg, sync-version-setup.cfg-docs-conf, sync-version-desc-setup.cfg-package, changelog-update, list-extras-readme

build(setup.cfg): pinning snowflake-sqlalchemy to greater than or eqaul to 1.4.4 (#962)
  setup.cfg
Due: sync-all-extras-setup.cfg, sync-version-setup.cfg-docs-conf, sync-version-desc-setup.cfg-package, changelog-update, list-extras-readme

Release 1.15.3
  CHANGELOG.rst
Due: changelog-update

Release 1.15.3 (#957)
  CHANGELOG.rst
  astronomer/providers/package.py
  docs/conf.py
  setup.cfg
Due: sync-all-extras-setup.cfg, sync-version-setup.cfg-docs-conf, sync-version-desc-setup.cfg-package, changelog-update, list-extras-readme

Update setup.cfg to use RC provider packages
  setup.cfg
Due: sync-all-extras-setup.cfg, sync-version-setup.cfg-docs-conf, sync-version-desc-setup.cfg-package, changelog-update, list-extras-readme

Test astro-runtime-dev:8.0.0-alpha1-base (Airflow 2.6.0b1)
  .circleci/integration-tests/Dockerfile.astro_cloud
  Makefile
Due: none

Support host key verification for SFTPSensorAsync
  astronomer/providers/sftp/hooks/sftp.py
Due: none

Add tests for the patch
  tests/sftp/hooks/test_sftp.py
Due: none

Increase coverage by parametrizing inputs
  tests/sftp/hooks/test_sftp.py
Due: none

Add test to check paramiko connection is retried upon failure
  tests/sftp/hooks/test_sftp.py
Due: none

Bigquery operator backward compatibility
  astronomer/providers/google/cloud/operators/bigquery.py
Due: none

Fix mypy
  astronomer/providers/google/cloud/operators/bigquery.py
Due: none

Add default poll_interval 4.0
  astronomer/providers/google/cloud/operators/bigquery.py
Due: none

Fix init for poll_interval
  astronomer/providers/google/cloud/operators/bigquery.py
Due: none

Fix Bigquery operator backward compatibility (#967)
  astronomer/providers/google/cloud/operators/bigquery.py
Due: none

Add Ankit/Utkarsh as code owner
  CODEOWNERS
Due: none

Add Ankit/Utkarsh as code owner (#969)
  CODEOWNERS
Due: none

Release 1.15.4
  CHANGELOG.rst
  astronomer/providers/package.py
  docs/conf.py
  setup.cfg
Due: sync-all-extras-setup.cfg, sync-version-setup.cfg-docs-conf, sync-version-desc-setup.cfg-package, changelog-update, list-extras-readme

Release 1.15.4 (#968)
  CHANGELOG.rst
  astronomer/providers/package.py
  docs/conf.py
  setup.cfg
Due: sync-all-extras-setup.cfg, sync-version-setup.cfg-docs-conf, sync-version-desc-setup.cfg-package, changelog-update, list-extras-readme

Update release docs updating version section
  RELEASING.rst
Due: none

Add commitizen to bump version
  RELEASING.rst
  astronomer/providers/package.py
Due: sync-version-desc-setup.cfg-package

Add commitizen to bump version
  astronomer/providers/package.py
  pyproject.toml
Due: sync-version-desc-setup.cfg-package
