Repository astronomer/astronomer-providers: changes, and which pre-commit hooks are due for each by the changed paths.
All: sync-all-extras-setup.cfg, sync-version-setup.cfg-docs-conf, changelog-update

sync-all-extras-setup.cfg:
  name: Sync "all" extra in setup.cfg
  language: python
  pass_filenames: false
  entry: .circleci/scripts/pre_commit_setup_cfg_all_extra.py

sync-version-setup.cfg-docs-conf:
  name: Sync "version" of the package in setup.cfg and docs/conf.py
  language: python
  pass_filenames: false
  entry: .circleci/scripts/pre_commit_sync_version_docs.py

changelog-update:
  name: Verify changelog is updated when releasing a new version
  language: python
  pass_filenames: false
  entry: .circleci/scripts/pre_commit_changelog_upto_date.py
  additional_dependencies:
  - packaging

Release 1.8.0
  CHANGELOG.rst
  docs/conf.py
  setup.cfg
Due: sync-all-extras-setup.cfg, sync-version-setup.cfg-docs-conf, changelog-update

Release 1.8.0 (#600)
  CHANGELOG.rst
  docs/conf.py
  setup.cfg
Due: sync-all-extras-setup.cfg, sync-version-setup.cfg-docs-conf, changelog-update

Bump version to 1.9.0.dev1
  docs/conf.py
  setup.cfg
Due: sync-all-extras-setup.cfg, sync-version-setup.cfg-docs-conf, changelog-update

Bump version to 1.9.0.dev1 (#601)
  docs/conf.py
  setup.cfg
Due: sync-all-extras-setup.cfg, sync-version-setup.cfg-docs-conf, changelog-update

Fix ADF pipeline timeout issue
  astronomer/providers/microsoft/azure/operators/data_factory.py
  astronomer/providers/microsoft/azure/triggers/data_factory.py
  tests/microsoft/azure/triggers/test_data_factory.py
Due: none

Fix ADF pipeline timeout issue (#602)
  astronomer/providers/microsoft/azure/operators/data_factory.py
  astronomer/providers/microsoft/azure/triggers/data_factory.py
  tests/microsoft/azure/triggers/test_data_factory.py
Due: none

Add a make target to run interactive shell (#597)
  CONTRIBUTING.rst
  Makefile
Due: none

Fix import error in for snowflake extractor
  dev/docker-compose.yaml
Due: none

Fix codespell errors by applying its suggestions
  astronomer/providers/core/sensors/external_task.py
  tests/core/sensors/test_external_task.py
Due: none

Fix import error in for snowflake extractor (#607)
  dev/docker-compose.yaml
Due: none

Compare timeouts in triggerer realtime
  astronomer/providers/microsoft/azure/operators/data_factory.py
  astronomer/providers/microsoft/azure/triggers/data_factory.py
  tests/microsoft/azure/triggers/test_data_factory.py
Due: none

Fix mistake
  astronomer/providers/microsoft/azure/operators/data_factory.py
Due: none

Remove unused imports
  astronomer/providers/microsoft/azure/operators/data_factory.py
Due: none

Fix anotheer facepalm!
  astronomer/providers/microsoft/azure/operators/data_factory.py
Due: none

Oversight
  tests/microsoft/azure/triggers/test_data_factory.py
Due: none

Remove unused import
  tests/microsoft/azure/triggers/test_data_factory.py
Due: none

Use astro-runtime:5.0.8-base
  .circleci/integration-tests/Dockerfile.astro_cloud
  Makefile
Due: none

Use astro-runtime:5.0.8-base (#609)
  .circleci/integration-tests/Dockerfile.astro_cloud
  Makefile
Due: none

Databricks raise exception instead of return in case of user error
  astronomer/providers/databricks/hooks/databricks.py
Due: none

propagate error to worker
  astronomer/providers/databricks/triggers/databricks.py
Due: none

Fix test
  astronomer/providers/databricks/hooks/databricks.py
Due: none

Fix test
  tests/databricks/hooks/test_databricks.py
Due: none

Add test
  tests/databricks/triggers/test_databricks.py
Due: none

Async Databricks Operator: raise exception instead of return in case of user error (#612)
  astronomer/providers/databricks/hooks/databricks.py
  astronomer/providers/databricks/triggers/databricks.py
  tests/databricks/hooks/test_databricks.py
  tests/databricks/triggers/test_databricks.py
Due: none

Remove werkzeug
  setup.cfg
Due: sync-all-extras-setup.cfg, sync-version-setup.cfg-docs-conf, changelog-update

Update setup.cfg
  setup.cfg
Due: sync-all-extras-setup.cfg, sync-version-setup.cfg-docs-conf, changelog-update

Remove werkzeug dep & limit protobuf to `3.20.0` (#615)
  setup.cfg
Due: sync-all-extras-setup.cfg, sync-version-setup.cfg-docs-conf, changelog-update

Fix Mypy issues
  astronomer/providers/databricks/operators/databricks.py
  astronomer/providers/google/cloud/operators/bigquery.py
Due: none

Update snowflake.py
  astronomer/providers/snowflake/operators/snowflake.py
Due: none

Fix Mypy issues (#616)
  astronomer/providers/databricks/operators/databricks.py
  astronomer/providers/google/cloud/operators/bigquery.py
  astronomer/providers/snowflake/operators/snowflake.py
Due: none

Release 1.8.1
  CHANGELOG.rst
  docs/conf.py
  setup.cfg
Due: sync-all-extras-setup.cfg, sync-version-setup.cfg-docs-conf, changelog-update

Reinstate apache-airflow dependency
  setup.cfg
Due: sync-all-extras-setup.cfg, sync-version-setup.cfg-docs-conf, changelog-update

Apply suggestions from code review
  CHANGELOG.rst
Due: changelog-update

Release 1.8.1
  CHANGELOG.rst
Due: changelog-update

Release 1.8.1 (#614)
  CHANGELOG.rst
  docs/conf.py
  setup.cfg
Due: sync-all-extras-setup.cfg, sync-version-setup.cfg-docs-conf, changelog-update

Bump version to 1.9.0.dev1 (#617)
  docs/conf.py
  setup.cfg
Due: sync-all-extras-setup.cfg, sync-version-setup.cfg-docs-conf, changelog-update

Path conditions:
  sync-all-extras-setup.cfg: any of: ^setup.cfg$
  sync-version-setup.cfg-docs-conf: any of: ^setup.cfg$|^docs/conf.py$
  changelog-update: any of: ^setup.cfg$|^CHANGELOG.rst$
